@import '@pplsi-core/shared-assets/src/sass/colors.scss';

mat-expansion-panel {
  border-radius: 4px;
}

mat-expansion-panel-header {
  min-height: 84px;

  &.mat-expanded {
    border-bottom: 1px solid $hermes-300;
  }
}
