<mat-expansion-panel class='expansion-container border-radius-none'>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ng-content select='[input]'></ng-content>
      <div class='mat-expansion-panel-header-content'>
        <p class='role-expansion-title'>{{ title }}</p>
        <p class='role-expansion-description'>{{ description }}</p>
      </div>
    </mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-content select='[body]'></ng-content>
</mat-expansion-panel>
