<div class='container' *ngFor='let page of [(rolesPage$ | async)]'>
  <header>
    <h3>{{title}}</h3>
    <i-feather name='x' (click)='close()'></i-feather>
  </header>
  <form [formGroup]='userRolesForm'>
    <mat-form-field class='mat-label-scale-0 underemphasize'>
      <mat-label>First Name</mat-label>
      <input class='user-first-name' matInput formControlName='firstName'>
    </mat-form-field>
    <mat-form-field class='mat-label-scale-0 underemphasize'>
      <mat-label>Last Name</mat-label>
      <input class='user-last-name' matInput formControlName='lastName'>
    </mat-form-field>
    <mat-form-field class='mat-label-scale-0 underemphasize'>
      <mat-label>Email Address</mat-label>
      <input class='user-email' matInput formControlName='email'>
    </mat-form-field>
    <div class='roles-container' formArrayName='roles' *ngFor='let r of formRoles.controls; let i = index;'>
      <mat-form-field [formGroupName]='i' [ngClass]='{ "full-width" : !i }' class='mat-label-scale-0'>
        <mat-label><span>*</span>Role {{ i + 1 }}</mat-label>
        <mat-select formControlName='roleId' disableOptionCentering (selectionChanged)='userRolesForm.markAsDirty()'
          disableRipple>
          <mat-option *ngFor='let availableRole of filterRoles(i)' [value]='availableRole.id'>
            {{availableRole.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <i-feather name='x-circle' (click)='removeRole(i)' *ngIf='i != 0'></i-feather>
    </div>
    <p class='add-role-text' (click)='addAdditionalRole()'>+ Add another role</p>
  </form>

  <footer class='action-container'>
    <button class='btn-action btn-reg submit-button' [disabled]='userRolesForm.pristine || userRolesForm.invalid' (click)='submit()'>Save Changes</button>
    <button class='btn-secondary btn-reg cancel-button' (click)='close()'>Cancel</button>
  </footer>
</div>
