@import '@pplsi-core/shared-assets/src/sass/colors.scss';

.container {
  padding: 20px;
  width: 400px;
}

mat-form-field, 
mat-select {
  width: 100%;
}

.roles-container {
  mat-form-field {
    display: inline-block;
    width: 90%;
  }

  mat-form-field.full-width {
    width: 100%;
  }

  [name=x-circle] {
    display: inline-block;
    left: 12.5px;
    position: relative;
    stroke: $aphrodite-100;    
  }  

  .role-option-hidden {
    display: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 20px;
    text-transform: capitalize;
  }

  i-feather {    
    height: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
  }
}

p.add-role-text {
  color: $zeus-100;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
}

footer {  
  background: $selene;
  bottom: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  width: 360px;
  
  
  .btn-secondary { 
    margin-right: 20px; 
  }

  .btn-reg {
    float:right;
    height: 52px;    
  }  
}

form {
  padding-bottom: 78px;
}

[name=x], [name=x-circle], .add-role-text {
  cursor: pointer;
}