@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import '@pplsi-core/shared-assets/src/sass/device-sizes.scss';

.container {
  min-height: 535px;
}

.header-container {
  padding-top: 20px;
}

header {

  p, h2 {
    display: inline-block;
  }

  h2 {
    font-weight: 500;
  }

  p {
    bottom: .25rem;
    color: $cerberus;
    font-size: 12px;
    left: 8px;
    margin-right: 10px;
    position:relative;
    top: -2px;
  }
}

.top {
  margin-top: 20px;
}

.text-grey {
  color: $cerberus;
}

role-expansion-panel {
  &:first {
    padding-top: 5em;
  }

  .permission-section:last-of-type {
    padding-bottom: 30px;
  }
}

[input] {
  position: relative;
  width: 25px;
}

roles-details-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-toggled {
  padding-bottom: 6em;
}

button.save-role {
  border-radius: 5px;
  height: 45px;
  width: 160px;
}

.breadcrumb
span {
  color: $cerberus;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 16px;
  margin-right: 4px;
  text-transform: uppercase;

  &.breadcrumb-text-active {
    color: $zeus-100;
  }
}

i-feather.icon-action {
  height: 16px;
  left: 8px;
  margin-right: 18px;
  position: relative;
  stroke: $hades-100;
  top: 1px;
  width: 16px;

  &.description-edit {
    left: 13px;
    top: 3px;
  }
}

.permissions-updated-text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  left: 15px;
  line-height: 20px;
  position: relative;
}
