<div class='container' [ngClass]='{ "footer-toggled": footer && footer.toggled }' *ngFor='let r of [(role | async)]'>
  <div class='row'>
    <div class='col-dk-12 header-container'>
      <div class='breadcrumb'>
        <span>Roles &amp; Permissions</span>
        <span> / </span>
        <span class='breadcrumb-text-active'>{{ r?.name }}</span>
      </div>
      <header>
        <h2>{{ r?.name }}</h2>
        <p>{{ r?.updated_at | date: 'mediumDate' }}</p>
        <p>{{ r?.number_of_users }} Active Users</p>
      </header>
    </div>
  </div>
  <div class='row' *ngIf='role'>
    <div class='col-dk-12'>
      <span class='text-grey'>{{ r?.description }}</span>
    </div>
  </div>
  <div class='top'>
    <mat-accordion>
      <role-expansion-panel *ngFor='let section of content' [title]='section.title' [description]='section.description'>
        <div input>
          <mat-checkbox #checkbox class='mat-checkbox-ripple-none' (click)='$event.stopPropagation()' [checked]='hasSectionPermission(section.permission, permissions)' (change)='handlePermissionChanged(section.permission, footer)'></mat-checkbox>
        </div>
        <div body>
          <div *ngFor='let group of section.groups' class='top permission-section'>
            <app-grouped-permission-header [title]='group.title' [headings]='group.headings'>
            </app-grouped-permission-header>
            <div *ngFor='let row of group.rows'>
              <app-grouped-permission-row [title]='row.title' [permissions]='row.permissions'
                [rolePermissions]='permissions' (permissionChange)='handlePermissionChanged($event, footer)'>
              </app-grouped-permission-row>
            </div>
          </div>
        </div>
      </role-expansion-panel>
    </mat-accordion>
  </div>
</div>
<roles-details-footer #footer class='row'>
  <div content><span class='permissions-updated-text'></span></div>
  <div actions>
    <button class='save-role' mat-button type='button' (click)='handleSaveChanges()'>
      Save Changes
    </button>
  </div>
</roles-details-footer>
