@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import '@pplsi-core/shared-assets/src/sass/device-sizes.scss';

.logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

form {
  margin-bottom: 40px;
  margin-top: 40px;
  position: sticky;
  width: 100%;
  z-index: 2;
}

.form-wrapper.with-members {
  height: 100px;
  padding-bottom: 20px;
}

.search-wrapper {
  background-color: $selene;
  border-radius: 4px;
  z-index: 100;

  hr {
    border: none;
    border-top: 1px solid $hermes-300;
    height: 0;
    margin: 0 20px 14px 20px;
  }
}

.predictive-wrapper {
  padding: 0 0 14px 0;
}

.search {
  border: 1px solid transparent;
  display: flex;
  height: 60px;
}

.search-button {
  background-color: $selene;
  background-image: url(/assets/search.svg);
  background-position-x: 20px;
  background-position-y: 20px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border: none;
  cursor: pointer;
  height: 60px;
  outline: none;
  padding: 0;
  width: 60px;

  &.active {
    background-image: url(/assets/search-active.svg);
  }
}

.search-input {
  border: none;
  flex: 1;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  padding: 20px 20px 20px 0;

  &::placeholder {
    color: $nyx;
  }

  &::-ms-clear {
    display: none;
  }
}

.spinner-overlay {
  background-color: $zeus-10;
}

.spinner-overlay, mat-spinner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

