<div class='logo' *ngIf='!searchSubmitted'>
  <img [src]='logoPath' alt='LegalShield'>
</div>

<div class='form-wrapper' [class.with-members]='members.length'>
  <div class='container'>
    <div class='row'>
      <div class='col-dk-10 col-tb-8 col-mb-4 col-dk-offset-1'>
        <form [formGroup]='searchForm' (ngSubmit)='updateResults(query)'>
          <div class='search-wrapper shadow' [class.results]='showPredictedResults'>
            <div class='search'>
              <button class='search-button' type='submit' [class.active]='searchActive'>&nbsp;</button>
              <input class='search-input' type='text' formControlName='query'
                placeholder='Search Member name, email or phone number' />
            </div>
            <hr *ngIf='showPredictedResults'/>
            <div class='predictive-wrapper' *ngIf='showPredictedResults'>
              <div class='predictive-search-results'>
                <member-predictive-result [member]='member' [query]='query'
                  *ngFor='let member of predictedMembers'>
                </member-predictive-result>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class='spinner-overlay' *ngIf='searching'>
  <mat-spinner></mat-spinner>
</div>

<div class='container' *ngIf='searchSubmitted'>
  <div class='row'>
    <div class='col-mb-4 col-tb-8 col-dk-12'>
      <member-search-result [members]='members' [query]='latestSearch' (merge)='loadMergeUsersDialog($event)'></member-search-result>
    </div>
  </div>
</div>
