@import '@pplsi-core/shared-assets/src/sass/colors.scss';

.side-nav-container {
  min-height: calc(100vh - 60px);
}
.side-nav {
  background: $selene;
  border-right: none;
  box-shadow: inset -2px 0 0 0 $hermes-200;

  .nav-item {
    background-color: $selene;
    box-shadow: inset -2px 0 0 0 $hermes-200;
    cursor: pointer;
    display: flex;
    height: 50px;
    outline: none;
    padding-top: 10px;
    width: 60px;

    &.active {
      border-left: 4px solid $zeus-100;
      width: 56px;

      a {
        background-color: $hermes-100;
        margin-left: 6px;

        &:hover i-feather {
          stroke: $hades-100;
        }
      }
    }

    a {
      background-position-x: 4px;
      background-position-y: 4px;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      border-radius: 4px;
      height: 24px;
      margin-left: 10px;
      padding: 8px;
      text-decoration: none;
      width: 24px;

      i-feather {
        stroke: $hades-100;
        width: 24px;
      }

      &:hover i-feather {
        stroke: $zeus-100;
      }
    }
  }
}
