<mat-drawer-container class='side-nav-container'>
  <mat-drawer mode='side' opened class='side-nav' *ngIf='loggedIn'>
    <div class='nav-item members' routerLink='/members' routerLinkActive='active'>
      <a title='Members'><i-feather name='users'></i-feather></a>
    </div>
    <div class='nav-item resolutions' routerLink='/resolutions' routerLinkActive='active'>
      <a title='Resolutions'><i-feather name='archive'></i-feather></a>
    </div>
    <div class='nav-item roles' routerLink='/roles/list' routerLinkActive='active'>
      <a title='Roles'><i-feather name='share-2'></i-feather></a>
    </div>
  </mat-drawer>
  <mat-drawer-container>
    <ng-content></ng-content>
  </mat-drawer-container>
</mat-drawer-container>
