<mat-toolbar [@openClose]='toggled' class='mat-toolbar-footer'>
  <div class='content-container'>
    <ng-content select='[content]'></ng-content>
  </div>
  <div class='actions-container'>
    <ng-content select='[actions]'></ng-content>
  </div>
</mat-toolbar>
