.progress-overlay {
  display: none;
  height: calc(100vh);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;

  .overlay-screen {
    background: rgba(255,255,255,.3);
    height: calc(100vh - 4px);
  }

  &.loading {
    display: block;
  }
}
