<div class='progress-overlay' [class.loading]='loading'>
  <mat-progress-bar mode='indeterminate' [color]='loadingColor'></mat-progress-bar>
  <div class='overlay-screen'></div>
</div>
<mat-drawer-container>
  <mat-drawer #drawer class='drawer' [autoFocus]='false' position='end' disableClose>
    <ng-template cdkPortalOutlet></ng-template>
  </mat-drawer>
  <mat-drawer-content>
    <top-bar [region]='region' [loggedIn]='hasLoggedIn || !!me' [me]='me'></top-bar>
    <side-nav [loggedIn]='hasAccess'>
      <confidential-message [loggedIn]='hasAccess'></confidential-message>
      <router-outlet *ngIf='hasLoggedIn !== null'></router-outlet>
    </side-nav>
  </mat-drawer-content>
</mat-drawer-container>
