@import '@pplsi-core/shared-assets/src/sass/colors.scss';

.container {
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 18px;
}

.card {
  margin-bottom: 8px;
  padding: 40px 0;
}

.left-side {
  padding-left: 50px;
}

.row .row.left-side {
  padding-left: 60px;
}

.right-side {
  padding-right: 50px;
}

label {
  font-size: 16px;
  line-height: 20px;
}

.top-margin {
  margin-top: 10px;
}

mat-radio-button {
  margin: 10px 0;
}

.source-input, .resolution-type-input, .contact-methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  mat-radio-button {
    margin-right: 20px;
    min-width: calc(50% - 20px);
  }
}

mat-form-field.details-form-field {
  width: calc(100% - 40px);

  textarea.details {
    border: 2px solid $nyx;
    border-radius: 7px;
    font-size: 16px;
    height: 298px;
    line-height: 20px;
    padding: 20px;
    resize: none;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep label {
    left: 20px;
    position: relative;
    top: 28px;
  }
}

.service-request-container {
  margin-top: 20px;
}

.btn-secondary {
  margin-right: 20px;
}

button {
  padding: 12px 20px;
}

.button-container {
  margin-top: 137px;
}
