<div class='container'>
  <div class='row'>
    <h1 class='col-dk-11 col-dk-offset-1'>Create Member Resolution</h1>
  </div>

  <div class='shadow card col-dk-10 col-dk-offset-1'>
    <form [formGroup]='resolutionForm'>
      <div class='row'>
        <mat-form-field class='col-dk-4 left-side'>
          <mat-label><span class='required'>*</span> Member</mat-label>
          <mat-select formControlName='membership' class='user-input'>
            <mat-option *ngFor='let membership of account.getActiveMemberships()' [value]='membership'>
              {{ membership.user.fullName() }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class='col-dk-5 col-dk-offset-3 right-side'>
          <mat-label><span class='required'>*</span> Concern</mat-label>
          <mat-select formControlName='concern'>
            <mat-option *ngFor='let concern of CONCERNS' [value]='concern'>
              {{ concern }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class='row top-margin'>
        <div class='col-dk-4 left-side'>
          <label id='resolution-type-label'><span class='required'>*</span>What type of concern is this?</label>
          <mat-radio-group class='resolution-type-input' aria-labelledby='resolution-type-label' formControlName='resolutionType' (change)='updateRequiredFields($event.value)'>
            <mat-radio-button value='provider'>Provider Firm</mat-radio-button>
            <mat-radio-button class='conflict-option' value='conflict' (click)='loadConflictServiceRequests()'>Conflict</mat-radio-button>
            <mat-radio-button value='referral'>Provider Referral</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class='col-dk-5 col-dk-offset-3 right-side'>
          <label id='source-label'><span class='required'>*</span>What was the source of this complaint?</label>
          <mat-radio-group aria-labelledby='source-type-label' formControlName='source' class='source-input'>
            <mat-radio-button value='letter'>Email/Letter</mat-radio-button>
            <mat-radio-button value='call'>Call/Chat</mat-radio-button>
            <mat-radio-button value='survey'>Survey</mat-radio-button>
            <mat-radio-button value='associate'>Associate</mat-radio-button>
            <mat-radio-button value='clarification'>Clarification</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class='row'>
        <div class='col-dk-5 left-side top-margin' [ngSwitch]='resolutionType'>
          <div *ngSwitchDefault>
            <div class='row'>
              <mat-form-field class='col-dk-12'>
                <mat-label><span class='required'>*</span> State</mat-label>
                <mat-select formControlName='targetBranch' class='target-branch-input' (selectionChange)='targetBranchChanged()'>
                  <mat-option *ngFor='let fulfillmentPartnerBranch of fulfillmentPartnerBranches' [value]='fulfillmentPartnerBranch'>
                    {{ fulfillmentPartnerBranch.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class='row'>
              <mat-form-field class='col-dk-12'>
                <mat-label><span class='required'>*</span> Provider Firm</mat-label>
                <mat-select formControlName='targetPartner' class='target-input'>
                  <mat-option *ngFor='let fulfillmentPartner of fulfillmentPartners' [value]='fulfillmentPartner'>
                    {{ fulfillmentPartner.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class='row'>
              <p class='col-dk-12 top-margin'>Choose an intake to associate to this Resolution.</p>
            </div>

            <div class='row'>
              <mat-form-field class='col-dk-9 service-request-container'>
                <mat-label>Intake Number</mat-label>
                <mat-select formControlName='serviceRequest' class='service-request-input'>
                  <mat-option *ngFor='let serviceRequest of serviceRequests' [value]='serviceRequest'>
                    {{ serviceRequest.case_id }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class='row' *ngIf='resolutionType === "provider"'>
              <mat-form-field class='col-dk-9'>
                <mat-label>Provider Employee</mat-label>
                <mat-select formControlName='targetMember' class='target-member-input'>
                  <mat-option *ngFor='let fulfillmentPartnerMember of targetMembers' [value]='fulfillmentPartnerMember'>
                    {{ fulfillmentPartnerMember.fullName() }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class='row' *ngIf='resolutionType === "referral"'>
              <mat-form-field class='col-dk-9'>
                <input matInput formControlName='referral' class='referral-input'>
                <mat-placeholder>Referral Attorney</mat-placeholder>
              </mat-form-field>
            </div>
          </div>

          <div *ngSwitchCase='"conflict"'>
            <div class='row'>
              <p class='col-dk-12 top-margin'>Choose an intake to associate to this Resolution.</p>
            </div>

            <div class='row'>
              <mat-form-field class='col-dk-9 service-request-container'>
                <mat-label>Conflict Intake</mat-label>
                <mat-select formControlName='serviceRequest' class='service-request-input'>
                  <mat-option *ngFor='let serviceRequest of conflictServiceRequests' [value]='serviceRequest'>
                    {{ serviceRequest.case_id }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class='row'>
              <mat-form-field class='top-margin col-dk-9'>
                <input matInput formControlName='referral' class='referral-input'>
                <mat-placeholder><span>*</span>Referral Attorney</mat-placeholder>
              </mat-form-field>
            </div>
          </div>

          <div class='row'>
            <label class='top-margin col-dk-12' id='contact-method-label'><span class='required'>*</span>Preferred contact method</label>
            <mat-radio-group class='col-dk-12 contact-methods' aria-labelledby='contact-method-label' formControlName='contactMethod' (change)='showOtherContactMethodField($event)'>
              <mat-radio-button *ngFor='let contactMethod of contactMethods' [value]='contactMethod'>
                {{ contactMethod.value }}
              </mat-radio-button>
              <mat-radio-button value='email' *ngIf='email'>{{ email }}</mat-radio-button>
              <mat-radio-button value='other'>Other</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class='row' *ngIf='showOtherContactMethodInput'>
            <mat-form-field class='top-margin col-dk-9'>
              <input matInput formControlName='contactMethodOther' class='contact-method-other-input'>
              <mat-placeholder><span>*</span>Other Contact Method</mat-placeholder>
            </mat-form-field>
          </div>
        </div>

        <div class='col-dk-5 col-dk-offset-2 right-side'>
          <mat-form-field floatLabel='never' class='details-form-field'>
            <textarea matInput class='details' formControlName='description'></textarea>
            <mat-placeholder><span>*</span>Complaint Details</mat-placeholder>
          </mat-form-field>

          <mat-checkbox formControlName='approved' class='approved-input'>Approved to move forward with resolution</mat-checkbox>

          <div class='row right button-container'>
            <button class='btn-secondary btn-reg cancel-button' (click)='back()'>Cancel</button>
            <button class='btn-action btn-reg submit-button' [disabled]='resolutionForm.invalid' (click)='submit()'>Create Resolution</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
