<div class='container resolution-details'>
  <div class='row'>
    <p class='field-text breadcrumbs'>Member Resolutions / <span>Resolution {{resolution.display_id}}</span></p>
  </div>

  <div class='row'>
    <h2>Resolution Details - {{ resolution.user.fullName() }}</h2>
  </div>

  <div>
    <div class='resolution-info col-dk-4 col-tb-4'>
      <div class='resolution-data card shadow'>
        <div class='row'>
          <div class='col-dk-11 col-tb-7'>
            <h3>Resolution {{ resolution.display_id }}</h3>

            <p class='small-text created'>Opened - {{ resolution.opened_at | date: 'longDate' }} {{ resolution.opened_at | date: 'shortTime' }}</p>
          </div>

          <div class='col-dk-1 col-tb-1 right edit-container'>
            <i-feather name='edit' class='small-icon' (click)='loadEdit()'></i-feather>
          </div>
        </div>

        <div class='row top-row'>
          <div class='col-dk-6 col-tb-2 flex field-container'>
            <i-feather name='user-plus' class='small-icon field-icon'></i-feather>
            <p class='field overflow-1' title='LegalShield Assignee'>LegalShield Assignee</p>
          </div>
          <p class='col-dk-6 col-tb-2 field assignee' *ngIf='resolution.assignee.full_name'>{{ resolution.assignee.full_name }}</p>
          <div class='col-dk-6 col-tb-2 field assignee' *ngIf='!resolution.assignee.full_name'>
            <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
          </div>
        </div>

        <div class='row field-row'>
          <div class='col-dk-6 col-tb-2 flex field-container'>
            <i-feather name='activity' class='small-icon field-icon'></i-feather>
            <p class='field'>Status</p>
          </div>
          <p class='col-dk-6 col-tb-2 field status'>{{ resolution.displayStatus }}</p>
        </div>

        <div class='row field-row'>
          <div class='col-dk-6 col-tb-2 flex field-container'>
            <i-feather name='layers' class='small-icon field-icon'></i-feather>
            <p class='field'>Concern Type</p>
          </div>
          <p class='col-dk-6 col-tb-2 field titlecase type'>{{ resolution.resolution_type }}</p>
        </div>

        <div class='row field-row'>
          <p class='col-dk-6 col-tb-2 field'>Concern</p>
          <p class='col-dk-6 col-tb-2 field overflow-1 concern' title='{{ resolution.concern }}'>{{ resolution.concern }}</p>
        </div>

        <div class='row field-row'>
          <p class='col-dk-6 col-tb-2 field'>Source</p>
          <p class='col-dk-6 col-tb-2 field source'>{{ resolution.displaySource }}</p>
        </div>

        <hr>

        <div *ngIf='resolution.resolution_type === "conflict"'>
          <div class='row field-row'>
            <p class='col-dk-6 col-tb-2 field'>Referral Attorney</p>
            <p class='col-dk-6 col-tb-2 field overflow-1 referral' title='{{ resolution.referral }}'>{{ resolution.referral }}</p>
          </div>

          <div class='row field-row'>
            <p class='col-dk-6 col-tb-2 field overflow-1' title='Referral Action Taken'>Referral Action Taken</p>
            <div class='flex tag-container' *ngIf='resolution.action_taken' [ngClass]='actionTakenClass'>
              <i-feather name='check-circle'></i-feather>
              <p class='tag-value action-taken'>{{ resolution.action_taken }}</p>
            </div>
            <div class='col-dk-6 col-tb-2 field action-taken' *ngIf='!resolution.action_taken'>
              <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
            </div>
          </div>
        </div>

        <div *ngIf='resolution.resolution_type !== "conflict"'>
          <div class='row field-row'>
            <p class='col-dk-6 col-tb-2 field'>Provider Firm</p>
            <p class='col-dk-6 col-tb-2 field overflow-2 target' title='{{ resolution.target.name }}'>{{ resolution.target.name }}</p>
          </div>

          <div class='row field-row'>
            <p class='col-dk-6 col-tb-2 field'>State</p>
            <p class='col-dk-6 col-tb-2 field overflow-1 target-branch' title='{{ resolution.target_branch.name }}'>{{ resolution.target_branch.name }}</p>
          </div>

          <div *ngIf='resolution.resolution_type === "referral"'>
            <div class='row field-row'>
              <p class='col-dk-6 col-tb-2 field'>Referral Attorney</p>
              <p class='col-dk-6 col-tb-2 field overflow-1 referral' *ngIf='resolution.referral' title='{{ resolution.referral }}'>{{ resolution.referral }}</p>
              <div class='col-dk-6 col-tb-2 field referral' *ngIf='!resolution.referral'>
                <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
              </div>
            </div>

            <div class='row field-row'>
              <p class='col-dk-6 col-tb-2 field overflow-1' title='Referral Action Taken'>Referral Action Taken</p>
              <div class='flex tag-container' *ngIf='resolution.action_taken' [ngClass]='actionTakenClass'>
                <i-feather name='check-circle'></i-feather>
                <p class='tag-value action-taken'>{{ resolution.action_taken }}</p>
              </div>
              <div class='col-dk-6 col-tb-2 field action-taken' *ngIf='!resolution.action_taken'>
                <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
              </div>
            </div>
          </div>

          <div *ngIf='resolution.resolution_type === "provider"'>
            <div class='row field-row'>
              <p class='col-dk-6 col-tb-2 field'>Provider Employee</p>
              <p class='col-dk-6 col-tb-2 field overflow-1 target-member' *ngIf='resolution.target_member.full_name' title='{{ resolution.target_member.full_name }}'>{{ resolution.target_member.full_name }}</p>
              <div class='col-dk-6 col-tb-2 field target-member' *ngIf='!resolution.target_member.full_name'>
                <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
              </div>
            </div>

            <div class='row field-row'>
              <p class='col-dk-6 col-tb-2 field overflow-1' title='Provider Action Taken'>Provider Action Taken</p>
              <div class='flex tag-container' *ngIf='resolution.action_taken' [ngClass]='actionTakenClass'>
                <i-feather name='check-circle'></i-feather>
                <p class='tag-value action-taken'>{{ resolution.action_taken }}</p>
              </div>
              <div class='col-dk-6 col-tb-2 field action-taken' *ngIf='!resolution.action_taken'>
                <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
              </div>
            </div>
          </div>
        </div>

        <div class='row field-row'>
          <p class='col-dk-6 col-tb-2 field'>Linked Intake</p>
          <div class='flex tag-container' *ngIf='resolution.service_request.case_id'>
            <i-feather name='check-circle'></i-feather>
            <p class='tag-value intake'>{{ resolution.service_request.case_id }}</p>
          </div>
          <div class='col-dk-6 col-tb-2 field intake' *ngIf='!resolution.service_request.case_id'>
            <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
          </div>
        </div>
      </div>

      <div class='user-details card shadow'>
        <div class='row'>
          <div class='col-dk-11 col-tb-7 flex'>
            <ls-avatar [firstName]='resolution.user.first_name' [lastName]='resolution.user.last_name'></ls-avatar>
            <div class='user-name-container'>
              <div class='flex'>
                <a [routerLink]='["/users", resolution.account_id, "user", resolution.user.id]' class='user-name'>{{ resolution.user.fullName() }}</a>
              </div>
              <p class='small-text user-location'>{{ resolution.user.formattedLocalityAdministrativeArea() }}</p>
            </div>
          </div>

          <div [ngClass]='{
              "resolution-is-member": !!resolution.group && !!resolution.national_plan === false,
              "result-national-plan": !!resolution.national_plan,
              "col-dk-1 col-tb-1 right": true
            }'>
          </div>
        </div>

        <div class='row field-row'>
          <div class='col-dk-6 col-tb-2 flex field-container'>
            <p class='field overflow-1' title='Preferred Contact Method'>Preferred Contact Method</p>
          </div>
          <p class='col-dk-6 col-tb-2 field preferred-contact-method overflow-1' title='{{ resolution.formattedPreferredContactMethod(locale.slice(-2)) }}'>
            {{ resolution.formattedPreferredContactMethod(locale.slice(-2)) }}
          </p>
        </div>

        <div class='row field-row'>
          <p class='col-dk-6 col-tb-2 field'>Cell Phone</p>
          <p class='col-dk-6 col-tb-2 field cell-phone' *ngIf='resolution.user.formattedCellPhoneNumber(locale.slice(-2))'>{{ resolution.user.formattedCellPhoneNumber(locale.slice(-2)) }}</p>
          <div class='col-dk-6 col-tb-2 field cell-phone' *ngIf='!resolution.user.formattedCellPhoneNumber(locale.slice(-2))'>
            <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
          </div>
        </div>

        <div class='row field-row'>
          <p class='col-dk-6 col-tb-2 field'>Home Phone</p>
          <p class='col-dk-6 col-tb-2 field home-phone' *ngIf='resolution.user.formattedHomePhoneNumber(locale.slice(-2))'>{{ resolution.user.formattedHomePhoneNumber(locale.slice(-2)) }}</p>
          <div class='col-dk-6 col-tb-2 field home-phone' *ngIf='!resolution.user.formattedHomePhoneNumber(locale.slice(-2))'>
            <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
          </div>
        </div>

        <div class='row field-row'>
          <p class='col-dk-6 col-tb-2 field'>Email Address</p>
          <p class='col-dk-6 col-tb-2 field email overflow-1' *ngIf='resolution.user.email' title='{{ resolution.user.email }}'>{{ resolution.user.email }}</p>
          <div class='col-dk-6 col-tb-2 field email' *ngIf='!resolution.user.email'>
            <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
          </div>
        </div>
      </div>
    </div>

    <div class='activity-log card shadow'>
      <h3>Activity Log</h3>
      <ls-activity-log placeholder='Add note...' [resolutionDisplayId]='resolution.display_id'
        [activityLog$]='activity$' [note$]='currentNote$'
        (activityAlertToggle)='toggleIsAlert($event)' (activityLogSubmit)='createActivityLogItem($event)'>
      </ls-activity-log>
    </div>
  </div>
</div>
