@import '@pplsi-core/shared-assets/src/sass/colors.scss';

.resolution-details {
  > div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

    &:nth-child(1) {
      margin-top: 20px;
    }

    .resolution-info {
      margin-right: 20px;
      padding: 0px;
    }

    .activity-log {
      display: flex;
      flex: 1;
      flex-flow: column;
      height: calc(100vh - 265px);
      margin-bottom: 15px;
      min-width: 50%;
    }
  }
}

:host ::ng-deep {
  ls-activity-log {
    flex: 1;
    margin-top: 20px;
    max-height: calc(100vh - 305px);

    .log-messages {
      overflow-y: auto;
    }
  }
}

.edit-container {
  padding-left: 0;

  i-feather:hover {
    cursor: pointer;
  }
}

.breadcrumbs {
  color: $cerberus;
  font-weight: bold;

  span {
    color: $zeus-100;
  }
}

h2 {
  font-weight: bold;
}

.card {
  margin-bottom: 20px;
  padding: 20px;

  a {
    font-weight: bold;
  }

  ls-avatar {
    margin-right: 10px;
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: none;
  }

  i-feather {
    stroke: $cerberus;
  }

  h3 + p {
    color: $cerberus;
  }

  .result-national-plan {
    background-image: url(/assets/shield.svg);
    background-position-x: 6px;
    background-repeat: no-repeat;
  }

  .resolution-is-member {
    background-image: url(/assets/group_identifier.svg);
    background-position-x: 6px;
    background-repeat: no-repeat;
  }

  .user-name-container {
    margin: 4px 0;

    a {
      color: $zeus-100;
    }

    p {
      color: $cerberus;
    }
  }

  .top-row {
    margin-top: 15px;
  }

  .field-row {
    margin-top: 10px;
    max-height: 32px;
  }

  .field {
    color: $cerberus;
    font-size: 14px;
    line-height: 16px;
  }

  .field-icon {
    margin-right: 8px;
  }

  .assignee, .status, .type, .concern, .source, .referral, .intake, .preferred-contact-method, .cell-phone, .home-phone, .work-phone {
    color: $hades-100;
  }

  .email {
    color: $zeus-100;
  }

  .small-icon {
    height: 16px;
    width: 16px;
  }

  hr {
    border-top: 1px solid $hermes-200;
    margin: 20px 0 2px 0;
  }

  .overflow-2 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .overflow-1 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .tag-container {
    background: $hermes-100;
    border: 1px solid $hades-100;
    border-radius: 2px;
    margin-left: 10px;
    padding: 2px 5px;

    .tag-value {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-transform: capitalize;
    }

    i-feather {
      height: 12px;
      margin: -1px 5px 0 0;
      width: 12px;
    }
  }

  .ok {
    background: $athena-10;
    border: 1px solid $persephone;

    i-feather {
      stroke: $persephone;
    }

    .tag-value {
      color: $persephone;
    }
  }

  .warning {
    background: $artemis-10;
    border: 1px solid $apollo;

    i-feather {
      stroke: $apollo;
    }

    .tag-value {
      color: $apollo;
    }
  }
}

.titlecase {
  text-transform: capitalize;
}
