@import '@pplsi-core/shared-assets/src/sass/colors.scss';

:host {
  .activity-log-item {
    display: flex;

    &.create, &.update {
      i-feather {
        stroke: $atlas;
      }
    }

    &.comment {
      i-feather {
        stroke: $apollo;
      }

      .log-item-comment {
        background-color: $artemis-10;
        border: 1px solid $artemis-100;
        white-space: pre-wrap;
      }
    }

    &.home-office {
      .log-item-comment {
        background-color: $adonis-10;
        border: 1px solid $adonis-100;
      }
    }

    &.alert {
      i-feather {
        stroke: $ares;
      }

      .log-item-comment {
        background-color: $aphrodite-10;
        border: 1px solid $ares;

        i-feather {
          visibility: visible;
        }
      }
    }

    i-feather {
      height: 16px;
      padding: 4px;
      width: 16px;
    }
  }

  .log-item-member, .resolution-display-id {
    font-style: normal;
    font-weight: 500;
  }

  .log-item-icon {
    display: flex;
    flex-flow: column;
    margin-right: 20px;
    width: 24px;

    .item-icon {
      height: 24px;
    }

    .item-icon-bar {
      border-right: 1px solid $hermes-200;
      flex: 1;
      margin: 4px 11px 10px 0;
      width: 11px;
    }
  }

  .log-item-title {
    color: $hades-100;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    padding: 4px 0;
  }

  .log-item-date {
    color: $cerberus;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
  }

  .log-item-contents {
    flex: 1;

    .log-item-comment {
      background: $hermes-100;
      border: 1px solid $hades-100;
      border-radius: 4px;
      font-size: 14px;
      margin: 5px 0 10px 0;
      padding: 10px;
      white-space: pre-wrap;

      &:hover i-feather {
        visibility: visible;
      }

      i-feather {
        cursor: pointer;
        float: right;
        padding: 0 0 4px 0;
        visibility: hidden;
      }
    }
  }
}
