<div [className]='"activity-log-item " + activityType'>
  <div class='log-item-icon'>
    <div class='item-icon'>
      <i-feather *ngIf='!homeOffice || alert' [name]='getIconName()'></i-feather>
      <img *ngIf='homeOffice && !alert' src='assets/NA_LegalShieldLogo.svg' alt='Legal Shield Icon'>
    </div>
    <div class='item-icon-bar'></div>
  </div>
  <div class='log-item-contents'>
    <div class='log-item-title'>
      <span class='log-item-member'>{{ member }}</span>
      <ng-container *ngIf='isCreateItem'> Created
        <span class='resolution-display-id'>Resolution {{ resolutionDisplayId }}</span>
      </ng-container>
    </div>
    <div class='log-item-date'>{{ created }}</div>
    <div class='log-item-comment' *ngIf='comment'>
      <i-feather name='flag' (click)='activityAlertToggle.emit(activity)'></i-feather>
      <div>{{ comment }}</div>
    </div>
  </div>
</div>
