@import '@pplsi-core/shared-assets/src/sass/colors.scss';

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

:host {
  ::ng-deep {
    .search-layout-pager {
      .mat-paginator-container {
        color: $hades-100;
        flex-wrap: unset;
        font-size: 16px;
        line-height: 20px;
        max-height: 40px;
        min-height: unset;
        padding: 2px 0 0 8px;
        position: relative;
        white-space: nowrap;

        > div {
          max-height: 40px;
        }

        .mat-form-field-infix {
          border-top: unset;
          padding: 0;
        }

        .mat-icon-button {
          background: unset;

          &[ng-reflect-disabled="true"] path {
            color: $nyx;
          }
        }

        .mat-paginator-page-size-select {
          margin: 10px 4px 0 4px;
        }
      }
    }
  }
}

.search-layout-input {
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  max-width: 100%;
  min-width: 380px;

  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.3));
}

.search-button {
  background-color: $selene;
  background-position-x: 10px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border: none;
  cursor: pointer;
  height: 40px;
  outline: none;
  padding: 0;
  width: 40px;

  &.active i-feather {
    stroke: $zeus-100;
  }

  i-feather {
    stroke: $hades-100;
  }
}

.search-input {
  border: none;
  flex: 1;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  padding: 0;

  &::placeholder {
    color: $nyx;
  }

  &::-ms-clear {
    display: none;
  }
}

.search-layout-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}
