<form [formGroup]='searchForm' (ngSubmit)='formSubmit()'>
  <div class='search-layout-header'>
    <div class='search-layout-input'>
      <button class='search-button' type='submit'>
        <i-feather name='search'></i-feather>
      </button>
      <input class='search-input' type='text' formControlName='query'
        placeholder='{{placeholder}}' />
    </div>
    <div class='search-layout-pager' *ngIf='submitResultPagerTemplate'>
      <ng-container *ngTemplateOutlet='submitResultPagerTemplate'></ng-container>
    </div>
  </div>
  <div class='search-layout-results'>
    <ng-container *ngTemplateOutlet='submitResultTemplate ? submitResultTemplate : defaultSubmitResultTemplate'></ng-container>
  </div>
</form>

<ng-template #defaultSubmitResultTemplate>No result template provided</ng-template>
