<h1 mat-dialog-title>Confirm Changes</h1>
<div mat-dialog-content>
  <p>
    You are about to create a new role. Are you sure that you want to continue?
  </p>
</div>
<div mat-dialog-actions #actions class='actions-container'>
  <button mat-button [mat-dialog-close]='false'>CANCEL</button>
  <button mat-button [mat-dialog-close]='true'>CREATE</button>
</div>
