@import '@pplsi-core/shared-assets/src/sass/colors.scss';

:host {
  background: $selene;
  border: 1px solid $hermes-300;
  border-radius: 4px;
  padding: 20px;
  width: 370px;
}

.profile-header {
  display: flex;
  padding-bottom: 20px;

  > div {
    flex: 1;
    padding-left: 10px;
  }

  h3 {
    color: $hades-100;
    letter-spacing: unset;
  }

  p {
    color: $cerberus;
    font-size: 12px;
  }
}

.profile-body {
  h4 {
    color: $cerberus;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 0 0 8px 0;
    text-transform: uppercase;
  }

  p {
    line-height: 20px;
  }

  .flex {
    padding: 0 0 20px 0;

    > div {
      &:nth-child(1) {
        flex: 1;
      }

      &:nth-child(2) {
        padding-left: 20px;
        width: 120px;
      }
    }
  }
}
