<div class='profile-header'>
  <ls-avatar [firstName]='firstName' [lastName]='lastName'></ls-avatar>
  <div class='header-labels'>
    <h3>{{ firstName }} {{ lastName }}</h3>
    <p>{{ csvProductNames }}</p>
  </div>
</div>

<div class='profile-body'>
  <div class='flex'>
    <div class='national-id' [ngSwitch]='locale'>
      <h4 *ngSwitchCase='"en-CA"'>Social Insurance Number</h4>
      <h4 *ngSwitchCase='"en-GB"'>National Insurance Number</h4>
      <h4 *ngSwitchDefault>Social Security Number</h4>
      <p *ngIf='nationalId; else noDataTemplate'>{{ nationalId }}</p>
    </div>

    <div class='date-of-birth'>
      <h4>Date of Birth</h4>
      <p *ngIf='dateOfBirth; else noDataTemplate'>{{ dateOfBirth | date: dateFormat }}</p>
    </div>
  </div>

  <div class='flex'>
    <div class='cell-phone'>
      <h4>Cell Phone</h4>
      <p *ngIf='cellPhone; else noDataTemplate'>{{ cellPhone }}</p>
    </div>

    <div class='work-phone'>
      <h4>Work Phone</h4>
      <p *ngIf='workPhone; else noDataTemplate'>{{ workPhone }}</p>
    </div>
  </div>

  <div class='flex'>
    <div class='home-phone'>
      <h4>Home Phone</h4>
      <p *ngIf='homePhone; else noDataTemplate'>{{ homePhone }}</p>
    </div>
  </div>

  <div class='flex'>
    <div class='address'>
      <h4>Address</h4>
      <ng-container *ngIf='address; else noDataTemplate'>
        <p *ngIf='address.address_1'>{{ address.address_1 }}</p>
        <p *ngIf='address.address_2'>{{ address.address_2 }}</p>
        <p>
          <span *ngIf='address.locality'>{{ address.locality }}</span>
          <span *ngIf='address.administrative_area'>, {{ address.administrative_area }}</span>
          <span *ngIf='address.postal_code'>&nbsp;{{ address.postal_code }}</span>
        </p>
        <p *ngIf='address.country'>{{ address.country }}</p>
      </ng-container>
    </div>
  </div>

  <div class='flex'>
    <div class='email'>
      <h4>Email</h4>
      <p *ngIf='email; else noDataTemplate'>
        <a href='mailto:{{ email }}'>{{ email }}</a>
      </p>
    </div>
  </div>
</div>

<ng-template #noDataTemplate>
  <i-feather name='minus' class='small-icon'></i-feather> <i-feather name='minus' class='small-icon'></i-feather>
</ng-template>
