@import '@pplsi-core/shared-assets/src/sass/colors.scss';

.card {
  margin-bottom: 20px;

  > div.row {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;

    &:first-child {
      box-shadow: inset 0 -1px 0 0 $hermes-200;
    }

    .member-membership {
      margin-bottom: 10px;

      &:first-child {
        margin-bottom: unset;
        margin-top: 10px;
      }
    }

    > div {
      display: flex;
    }

  }
}

.header-content {
  color: $hades-100;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin: 20px 0px;
}

.membership-info {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 36px 0px;
  width: 100%;
}

.member-membership {
  padding: 10px 0;

  a {
    display: flex;
    text-decoration: none;
    width: 100%;

    .membership-data {
      color: $zeus-100;
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-wrap: wrap-reverse;
      font-size: 16px;
      height: 24px;
      justify-content: flex-start;
      padding: 0;
    }
  }

  .down-icon {
    align-items: right;
    cursor: pointer;
    display: flex;
    fill: $atlas;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 0;
  }
}

.membership-label {
  color: $cerberus;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 8px;
}
