<div class='card shadow'>
  <div class='row'>
    <span class='header-content'>{{ userFirstName }}'s Memberships</span>
  </div>
  <div class='row'>
    <ng-container *ngFor='let membership of memberships; let i = index'>
      <div class='member-membership col-dk-12' *ngIf='viewMore || i < 1'>
        <a *ngIf='canNavigate' href='{{ "/users/"+membership.account_id+"/user/"+user.id }}'>
          <span class='membership-data col-dk-11'>{{ membership.account.products ? membership.account.products[0].name : '' }}</span>
        </a>
        <span *ngIf='!canNavigate' class='membership-data col-dk-11'>{{ membership.account.products ? membership.account.products[0].name : '' }}</span>
        <div class='down-icon col-dk-1' (click)='showMore()' *ngIf='memberships.length > 1 && i < 1'>
          <i-feather [name]='showMoreIcon()'></i-feather>
        </div>
      </div>
    </ng-container>
  </div>
</div>
