@import "@pplsi-core/shared-assets/src/sass/colors.scss";

:host {
  background: $selene;
  border: 1px solid $hermes-300;
  border-radius: 4px;
  padding: 20px;
  width: 100%;

  ::ng-deep {
    .mat-radio-label {
      align-items: unset !important; /* stylelint-disable-line declaration-no-important */
    }
  }
}

.first-user {
  padding-left: 27% !important; /* stylelint-disable-line declaration-no-important */
}

.profile-header {
  display: flex;
  padding-bottom: 20px;

  > div {
    flex: 1;
    padding-left: 10px;
  }

  h3 {
    color: $hades-100;
    letter-spacing: unset;
  }

  p {
    color: $cerberus;
    font-size: 12px;
  }
}

.source-user {
  align-items: center;
  display: flex;
  flex-direction: row;
  

  > div {
    &:nth-child(1) {
      flex: 0 0 55%;
    }

    &:nth-child(2) {
      flex: 0 0 45%;
    }
  }
}

.profile-body {
  h4 {
    color: $cerberus;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
  }

  p {
    line-height: 20px;
  }

  hr {
    background-color: $hermes-200;
    border: none;
    height: 1px;
    left: -20px;
    position: relative;
    width: calc(100% + 40px);
  }

  .flex {
    margin: 15px 0 15px 0;
    min-height: 15px;

    > div {
      &:nth-child(1) {
        flex: 1;
        max-width: 110px;
      }

      &:nth-child(2) {
        width: 276px;
      }
    }
  }

  .last-item {
    border: 0;
  }

  .mat-ripple-element {
    background-color: $zeus-100 !important; /* stylelint-disable-line declaration-no-important */
  }
}
