<div class='source-user'>
  <div *ngFor='let sourceUser of sourceUsers; let i = index'>
    <div class='profile-header' [ngClass]='{"first-user": i === 0}'>
      <ls-avatar [firstName]='sourceUser.firstName' [lastName]='sourceUser.lastName'></ls-avatar>
      <div class='header-labels'>
        <h3>{{ sourceUser.firstName }} {{ sourceUser.lastName }}</h3>
        <p></p>
      </div>
    </div>

    <div class='profile-body'>
      <div class='flex'>
        <div *ngIf='i===0'>
          <h4>SSN</h4>
        </div>
        <div>
          <mat-radio-group name='idList'>
            <mat-radio-button name='idList' [value]='mergeUser.nationalId'>
              <p *ngIf='sourceUser.nationalId; else noDataTemplate'>{{ sourceUser.nationalId }}</p>
            </mat-radio-button>
          </mat-radio-group>
        </div>

      </div>
      <hr />
      <div class='flex'>
        <div *ngIf='i===0'>
          <h4>First Name</h4>
        </div>
        <div>
          <mat-radio-group name='fNameList'>
            <mat-radio-button [value]='mergeUser.firstName' name='fNameList'>{{sourceUser.firstName}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr />
      <div class='flex'>
        <div *ngIf='i===0'>
          <h4>Last Name</h4>
        </div>
        <div>
          <mat-radio-group name='lNameList' (change)='valueSelected(sourceUser, "lastName")'>
            <mat-radio-button name='lNameList' [value]='mergeUser.lastName'>{{sourceUser.lastName}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr />
      <div class='flex'>
        <div *ngIf='i===0'>
          <h4>Primary Phone</h4>
        </div>
        <div>
          <mat-radio-group name='primaryPhonelist'>
            <mat-radio-button name='primaryPhonelist' [value]='mergeUser.primaryPhone'>
              <p *ngIf='sourceUser.primaryPhone; else noDataTemplate'>{{ sourceUser.primaryPhone }}</p>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr />
      <div class='flex'>
        <div *ngIf='i===0'>
          <h4>Secondary Phone</h4>
        </div>
        <div>
          <mat-radio-group name='secondaryPhonelist'>
            <mat-radio-button name='secondaryPhonelist' [value]='mergeUser.secondaryPhone'>
              <p *ngIf='sourceUser.secondaryPhone; else noDataTemplate'>{{ sourceUser.secondaryPhone }}</p>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr />
      <hr />
      <div class='flex'>
        <div *ngIf='i===0'>
          <h4>Address</h4>
        </div>
        <div>
          <mat-radio-group name='addressList'>
            <mat-radio-button name='addressList' [value]='mergeUser.address'>
              <ng-container *ngIf='sourceUser.address; else noDataTemplate'>
                <p *ngIf='sourceUser.address.address_1'>{{ sourceUser.address.address_1 }}</p>
                <p *ngIf='sourceUser.address.address_2'>{{ sourceUser.address.address_2 }}</p>
                <p>
                  <span *ngIf='sourceUser.address.locality'>{{ sourceUser.address.locality }}</span>
                  <span *ngIf='sourceUser.address.administrative_area'>,{{ sourceUser.address.administrative_area }}</span>
                  <span *ngIf='sourceUser.address.postal_code'>&nbsp;{{ sourceUser.address.postal_code | slice:0:5}}</span>
                </p>
                <p *ngIf='sourceUser.address.country'>{{ sourceUser.address.country }}</p>
              </ng-container>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr />
      <div class='flex last-item'>
        <div *ngIf='i===0'>
          <h4>Email</h4>
        </div>
        <div>
          <mat-radio-group name='email'>
            <mat-radio-button name='email' [value]='mergeUser.email'>
              <p *ngIf='sourceUser.email; else noDataTemplate'> {{ sourceUser.email }} </p>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noDataTemplate>
  <i-feather name='minus' class='small-icon'></i-feather>
  <i-feather name='minus' class='small-icon'></i-feather>
</ng-template>
