@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import '@pplsi-core/shared-assets/src/sass/device-sizes.scss';

.member-card {
  margin: 0 0 10px 0;
  max-width: 100%;
  padding: 0 0 10px 0;
  text-decoration: none;

  @media (min-width: $tablet_sm) {
    margin-left: 20px;
  }

  @media (min-width: $tablet_sm) and (max-width: ($desktop_sm - 1px)) {
    max-width: calc(34% - 20px);

    &:nth-child(3n+4) {
      margin: 0;
    }
  }

  @media (min-width: $desktop_sm) {
    max-width: calc(25% - 20px);

    &:nth-child(4n+5) {
      margin: 0;
    }
  }

  &:first-child {
    margin: 0;
  }

  div {
    cursor: pointer;
    z-index: 1;
  }

  .card {
    min-height: 100px;
    padding: 16px;

    > div {
      color: $hades-100;
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      margin: 0 0 4px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &:last-child {
        margin: 0;
      }

      &.member-name {
        font-size: 16px;
        font-weight: 600;
        height: 20px;
        line-height: 20px;
        width: auto;
      }

      &.member-include-in-join {
        margin-left: auto;
        overflow: visible;
        width: auto;
        z-index: 1;
      }
    }
  }
}

.member-include-in-join {
  visibility: hidden;
}

.member-card:hover .member-include-in-join {
  visibility: visible;
}

.member-card .member-include-in-join .mat-checkbox-checked {
  visibility: visible;
}

.footer {
  align-items: center;
  background: white;
  display: flex;
  flex: 1;
  height: 8vh;
  justify-content: space-between;
  left: 0;
  margin-left: 60px;
  padding: 0 20px;
  position: fixed;
  top: 92vh;
  width: calc(100% - 40px);
  z-Index: 1000;

  .merge-user-controls {
    display: flex;
    padding-right: 15%;

    .merge-user-next {
      padding-left: 1.5rem;
    }
  }
}

.search-results-cards {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 8vh;
}

.search-results-header {
  color: $cerberus;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 20px 0;
}

.no-results {
  color: $hades-100;
  font-size: 24px;
  line-height: 40px;
}

.no-results-wrapper {
  background-image: url(/assets/emptystate.svg);
  background-position-y: 40px;
  background-repeat: no-repeat;
  min-height: 575px;
}
