<div class='search-results' *ngIf='members.length; else noResults'>
  <div class='search-results-header col-dk-12'>Search results for "{{ query }}"</div>
  <div class='search-results-cards'>
    <a *ngFor='let member of members' class='member-card col-dk-3 col-mb-4 col-tb-2'
      [routerLink]='["/users", member.accountId || "", "user", member.id || ""]' [title]='member.linkTitle(locale)'>
      <div class='card row no-gutter shadow'>
        <div class='member-name'>{{ member.fullName() }}</div>

        <div class='member-include-in-join'>
          <ng-container *ngIf='((selection.size < hasJoin) || (selection.has(member)))'>
            <mat-checkbox (click)='$event.stopImmediatePropagation()' (change)='handleIncludeInJoinChanged(member)'
              [checked]='selection.has(member)' aria-label='add user to join list'>
            </mat-checkbox>
          </ng-container>
        </div>

        <div class='member-location'>
          <ng-container *ngIf='member.addresses.length'>
            {{ member.formattedLocation() }}
          </ng-container>
        </div>
        <div class='member-email'>{{ member.email }}</div>

        <div class='member-phone'>
          <ng-container *ngIf='member.phoneNumberWithLabel("primary")'>
            <span class='member-phone-primary'>{{ member.formattedPhoneNumber(locale, 'primary') }}</span>
            <span class='member-phone-secondary' *ngIf='member.phoneNumberWithLabel("secondary")'>,
              {{ member.formattedPhoneNumber(locale, 'secondary') }}
            </span>
          </ng-container>
        </div>
        <div class='member-active-plans'>
          <span *ngIf='member.unique_product_names.length'>
            {{ member.serviceablePlanNames() }}
          </span>
        </div>
      </div>

    </a>
  </div>
  <div *ngIf='selection.size === hasJoin' class='row center footer'>
    <div class='merge-user-select-count'>
      <p>{{ selection.size }} users selected</p>
    </div>
    <div class='merge-user-controls'>
      <div class='merge-user-cancel'>
        <button mat-stroked-button color='primary' (click)='handleCancelClick()'>Cancel</button>
      </div>
      <div class='merge-user-next'>
        <button mat-flat-button color='primary' (click)='handleMergeClick()'>Merge Users</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noResults>
  <div class='no-results-wrapper'>
    <div class='no-results col-dk-6 col-dk-offset-3'>
      No search results for &ldquo;{{ query }}&rdquo;<br />
      Please update your search and try again.
    </div>
  </div>
</ng-template>
