<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance='outline'>
    <textarea matInput #editTextInput [attr.maxlength]='data.textLength ? data.textLength : null' matTextareaAutosize matAutosizeMinRows='data.maxRows' matAutosizeMaxRows='data.maxRows' value='{{data.value}}'></textarea>
    <span class='length-indicator-text' *ngIf='data.textLength'>{{ editTextInput?.value?.length }}/{{ data.textLength }}</span>
  </mat-form-field>
</div>
<div mat-dialog-actions #actions class='actions-container'>
  <button class='cancel' mat-button [disableRipple]='true' [mat-dialog-close]='false'>{{data.cancelButtonText}}</button>
  <button class='submit' mat-button [disableRipple]='true' [mat-dialog-close]='editTextInput.value'>{{data.submitButtonText}}</button>
</div>
