@import '@pplsi-core/shared-assets/src/sass/colors.scss';

mat-form-field {
  width: 100%;
}

.length-indicator-text {
  bottom: -22px;
  color: $cerberus;
  position: absolute;
  right: -12px;
}

button {
  color: $zeus-100;
}
