<ls-page-layout [pageTitle]='user.fullName()'
  [pageBreadcrumbTemplate]='pageBreadcrumbTemplate'
  [pageTitleTemplate]='pageTitleTemplate'
  [pageTopRightControlsTemplate]='pageTopRightControlsTemplate'
  [pageBodyTemplate]='pageBodyTemplate'>
</ls-page-layout>

<ng-template #pageBreadcrumbTemplate>
  <span class='small-text'>Member Search / <span>{{ user.fullName() }}</span></span>
</ng-template>

<ng-template #pageTitleTemplate>
  <ls-avatar class='page-title-avatar' [firstName]='user.first_name' [lastName]='user.last_name'></ls-avatar>
  <h2 class='page-title-username'>{{ user.fullName() }}</h2>
  <div class='user-tags'>
    <div *ngIf='user.national_plan' class='user-tag national-plan'>
      <i-feather name='shield'></i-feather>
      <div>National Plan</div>
    </div>
    <div *ngIf='user.hasGroup' class='user-tag group-member'>
      <img src='assets/business_plan_icon.svg' alt='Group Member'>
      <div>Group Member</div>
    </div>
  </div>
</ng-template>

<ng-template #pageTopRightControlsTemplate>
  <button mat-icon-button [matMenuTriggerFor]='pageMenu' class='page-menu'>
    <i-feather name='more-vertical'></i-feather>
  </button>
  <mat-menu #pageMenu='matMenu'>
    <a mat-menu-item class='create-resolution-link' [routerLink]='["/accounts", account.id, "resolutions"]'>Create Resolution</a>
  </mat-menu>
</ng-template>

<ng-template #pageBodyTemplate>
  <div class='user-locale'>
    <div *ngIf='user.formattedLocation()' class='user-location'>
      <i-feather name='map-pin'></i-feather>
      <div>{{ user.formattedLocation() }}</div>
    </div>
    <div *ngIf='user.firstGroupName' class='user-group'>
      <img src='assets/business_plan_icon.svg' alt='{user.firstGroupName}'>
      <div>{{ user.firstGroupName }}</div>
    </div>
  </div>

  <nav mat-tab-nav-bar [disableRipple]='true'>
    <a mat-tab-link *ngFor='let data of tabData; let i = index' [routerLink]='[data.link]' routerLinkActive
      #rla='routerLinkActive' [active]='rla.isActive'>{{data.label}}
    </a>
  </nav>
  <hr>
  <router-outlet></router-outlet>
</ng-template>
