@import '@pplsi-core/shared-assets/src/sass/colors.scss';

:host ::ng-deep {

  ls-page-layout {
    .page-breadcrumb-row {
      text-transform: uppercase;

      > span {
        color: $cerberus;
        font-weight: bold;
        letter-spacing: 1px;

        span {
          color: $zeus-100;
        }
      }
    }

    .page-title-row {

      .page-menu, .mat-button-wrapper {
        height: 24px;
        line-height: 24px;
        width: 24px;
      }

      .page-menu {
        background: white;
        border-radius: 4px;
        cursor: pointer;
      }

      .mat-button-wrapper {
        display: block;
      }

      i-feather {
        height: 24px;
        width: 22px;
      }
    }

    .page-title {
      display: flex;

      h2 {
        margin: 0 0 0 10px;
      }
    }
  }

  ls-search-layout {
    .search-layout-input {
      display: none;
    }
  }
}

.user-tags {
  display: flex;
  height: 22px;
  margin: 9px 0;

  .user-tag {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 0 0 0 10px;
    padding: 0 9px 0 7px;
    user-select: none;

    > div {
      margin-left: 7px;
    }

    i-feather {
      height: 14px;
      margin-top: 3px;
      width: 14px;
    }

    img {
      height: 20px;
      width: 24px;
    }
  }

  .national-plan {
    background: $adonis-10;
    border-color: $adonis-100;

    > div {
      color: $adonis-100;
    }

    i-feather {
      fill: $adonis-100;
      stroke: $adonis-100;
    }
  }

  .group-member {
    background: $zeus-10;
    border-color: $poseidon;

    > div {
      color: $poseidon;
    }

    img {
      fill: $poseidon;
      stroke: $poseidon;
    }
  }
}

.user-locale {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-left: 5px;

  > div {
    display: flex;
    margin-right: 20px;

    > div {
      height: 20px;
      margin-left: 10px;
    }

    &.user-group > div {
      color: $poseidon;
    }

    i-feather {
      height: 16px;
      margin-top: 2px;
      width: 16px;
    }

    img {
      height: 22px;
      margin-top: -1px;
      width: 22px;
    }
  }
}

hr {
  background: $hermes-300;
  border: none;
  height: 1px;
  margin-bottom: 10px;
}
