<ls-page-layout pageTitle='Resolutions' [sidebarClosed]='true'
  [pageSidebarTemplate]='pageSidebarTemplate'
  [pageBodyTemplate]='pageBodyTemplate'>
</ls-page-layout>

<ng-template #pageSidebarTemplate>
  <ls-page-sidebar-section title='Filters'>

    <form [formGroup]='filterForm'>
      <ls-page-sidebar-expansion-panel label='State'>
        <ng-container *ngFor='let branch of filterBranches["controls"]; let i=index;'>
          <div class='input-container'>
            <mat-checkbox class='input-label' [formControl]='branch'>
              {{ branches[i].name }}
            </mat-checkbox>
          </div>
        </ng-container>
      </ls-page-sidebar-expansion-panel>

      <ls-page-sidebar-expansion-panel label='LegalShield Assignee'>
        <ng-container *ngFor='let member of filterMembers["controls"]; let i=index;'>
          <div class='input-container'>
            <mat-checkbox class='input-label' [formControl]='member'>
              {{ members[i].first_name }} {{ members[i].last_name }}
            </mat-checkbox>
          </div>
        </ng-container>
      </ls-page-sidebar-expansion-panel>
    </form>

  </ls-page-sidebar-section>
</ng-template>

<ng-template #pageBodyTemplate>
  <ls-search-layout (searchSubmit)='updateResults()'
    placeholder='Search by resolution number'
    [submitResultTemplate]='submitResultTemplate'
    [submitResultPagerTemplate]='submitResultPagerTemplate'>
  </ls-search-layout>
</ng-template>

<ng-template #submitResultTemplate>
  <ng-container *ngFor='let result of submitResults'>
    <ls-resolution-search-result [resolution]='result'></ls-resolution-search-result>
  </ng-container>
</ng-template>

<ng-template #submitResultPagerTemplate>
  <mat-paginator (page)='pageResults($event)' [pageSizeOptions]='pageSizeOptions'
    [pageIndex]='submitResultsPage.pageIndex' [pageSize]='submitResultsPage.pageSize'
    [length]='submitResultsPage.length' itemsPerPageLabel='Results per page'>
  </mat-paginator>
</ng-template>
