:host ::ng-deep {
  ls-page-layout {
    .page-layout-body > div {
      padding-top: unset;
    }

    .sidebar-toggle {
      background-image: unset;
    }
  }

  ls-search-layout {
    .search-layout-input {
      border: unset;
      box-shadow: unset;

      button, input {
        display: none;
      }
    }
  }
}
