<div>
  <div class='row'>
    <div class='col-dk-4'>
      <span>{{title}}</span>
    </div>
    <div class='col-dk-8'>
      <div class='flex'>
        <div class='grouped-permission-checkbox flex' *ngFor='let permission of permissions'>
          <mat-checkbox [checked]='hasPermission(permission)' (change)='permissionChange.emit(permission)'></mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
