.grouped-permission-checkbox {
  justify-content: center;
  line-height: 40px;
  margin-left: 20px;
  width: 50px;

  &:first-of-type {
    margin-left: auto;
  }
}

div.col-dk-4 {
  padding-left: 0;

  span{
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    padding-left: 0;
  }
}
