<mat-toolbar *ngIf='loggedIn'>
  <div class='flex no-gutter'>
    <div class='col-mb-2 col-tb-4 col-dk-6 left logo middle'>
      <img src='assets/{{ region }}_LegalShieldLogo.svg' alt='logo'>
    </div>

    <div class='col-mb-2 col-tb-4 col-dk-6 right flex profile-container'>
      <div [matMenuTriggerFor]='profileMenu' class='profile-btn flex right'>
        <ls-avatar [firstName]='me?.firstName' [lastName]='me?.lastName'></ls-avatar>
        <div class='flex right'>
          <div class='profile-name'>
            <p class='name'>{{ me?.fullName }}</p>
          </div>
          <img src='assets/arrow.svg' alt='arrow'>
          <mat-menu #profileMenu='matMenu' overlapTrigger='false' xPosition='before' class='profile-menu'>
            <div class='menu-item'>
              <a (click)='logout()' class='menu-option logout'>Logout</a>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
