@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import '@pplsi-core/shared-assets/src/sass/layout.scss';
@import '@pplsi-core/shared-assets/src/sass/typography.scss';

mat-toolbar {
  align-items: stretch;
  background: $selene;
  border-bottom: 1px solid $hermes-200;
  box-sizing: border-box;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  padding: 0;
}

img {
  margin: auto;
}

.logo-and-name {
  height: 26px;
  margin-left: 22px;
  width: 130px;

  img {
    height: 26px;
  }
}

.logo {
  height: 32px;
  padding-left: 14px;
  width: 32px;

  img {
    height: 32px;
  }
}

.profile-container {
  padding-right: 30px;

  .profile-btn {
    align-items: center;
    cursor: pointer;
  }

  .profile-btn > div {
    padding: 12px 0 10px 0;
  }

  .profile-btn[aria-expanded="true"]>div {
    border-bottom: 2px solid $zeus-100;
  }

  ls-avatar {
    margin-right: 15px;
  }

  .profile-name {
    float: right;
    margin-right: 10px;
    width: fit-content;

    .name {
      font-weight: bold;
    }
  }
}

.menu-option {
  background-color: none;
  color: black;
  cursor: pointer;
  display: block;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 13px 20px;
  text-decoration: none;
}
