<a class='predictive-results' [routerLink]='["/users", member.accountId || "", "user", member.id || ""]'>
  <div class='wrapper'>
    <div class='member-name-wrapper'>
      <div *ngIf='name' class='member-name' [innerHtml]='name'></div>
    </div>
    <div class='member-email-wrapper'>
      <div *ngIf='email' class='member-email' [innerHtml]='email'></div>
    </div>
    <div class='member-location-wrapper'>
      <div *ngIf='location' class='member-location' [innerHtml]='location'></div>
    </div>
    <div class='member-phone-wrapper'>
      <div *ngIf='phone' class='member-phone' [innerHtml]='phone'></div>
    </div>
  </div>
</a>
