@import '@pplsi-core/shared-assets/src/sass/colors.scss';

a {
  text-decoration: none;
}

.member-name {
  color: $cerberus;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.member-email, .member-phone, .member-location {
  color: $cerberus;
  font-size: 12px;
}

.wrapper {
  align-items: center;
  background: $selene;
  display: flex;
  height: 20px;
  padding: 10px 20px;

  &:hover {
    background: $hermes-100;
    cursor: pointer;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  > div {
    height: 20px;
    line-height: 20px;
    width: 22%;

    &.member-name-wrapper {
      width: 27%;
    }

    &.member-email-wrapper {
      width: 24%;
    }

    &.member-location-wrapper {
      width: 29%;
    }

    div {
      white-space: nowrap;
    }
  }
}

:host ::ng-deep .highlight {
  border-bottom: 1px solid $zeus-100;
  color: $cerberus;
}
