<div class='edit-container'>
  <div class='header flex'>
    <h3>Edit Resolution {{resolution.display_id}}</h3>

    <i-feather name='x' (click)='close()'></i-feather>
  </div>

  <hr>

  <div class='contents'>
    <form [formGroup]='editForm'>
      <mat-form-field class='flex'>
        <mat-label><span class='required'>*</span> Member</mat-label>
        <mat-select formControlName='membership' class='user-input'>
          <mat-option *ngFor='let membership of account.getActiveMemberships()' [value]='membership'>
            {{ membership.user.fullName() }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class='flex'>
        <mat-label><span class='required'>*</span> LegalShield Assignee</mat-label>
        <mat-select formControlName='assignee' class='assignee-input'>
          <mat-option *ngFor='let fulfillmentPartnerMember of fulfillmentPartnerMembers' [value]='fulfillmentPartnerMember'>
            {{ fulfillmentPartnerMember.fullName() }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class='flex'>
        <mat-label><span class='required'>*</span> Status</mat-label>
        <mat-select formControlName='status' class='status-input'>
          <mat-option *ngFor='let status of STATUSES | keyvalue: originalOrder' [value]='status.key'>{{ status.value }}</mat-option>
        </mat-select>
      </mat-form-field>

      <label id='resolution-type-label' class='flex'><span class='required'>*</span>Concern Type</label>
      <mat-radio-group class='resolution-type-input' aria-labelledby='resolution-type-label' formControlName='resolutionType' (change)='updateRequiredFields($event.value)'>
        <mat-radio-button value='provider'>Provider Firm</mat-radio-button>
        <mat-radio-button class='conflict-option' value='conflict' (click)='loadConflictServiceRequests()'>Conflict</mat-radio-button>
        <mat-radio-button value='referral'>Provider Referral</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label><span class='required'>*</span> Concern</mat-label>
        <mat-select formControlName='concern' class='concern-input'>
          <mat-option *ngFor='let concern of CONCERNS' [value]='concern'>
            {{ concern }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <label id='source-label'><span class='required'>*</span>Source of the concern</label>
      <mat-radio-group aria-labelledby='source-type-label' formControlName='source' class='source-input'>
        <mat-radio-button value='letter'>Email/Letter</mat-radio-button>
        <mat-radio-button value='call'>Call/Chat</mat-radio-button>
        <mat-radio-button value='survey'>Survey</mat-radio-button>
        <mat-radio-button value='associate'>Associate</mat-radio-button>
        <mat-radio-button value='clarification'>Clarification</mat-radio-button>
      </mat-radio-group>

      <div [ngSwitch]='resolutionType'>
        <div *ngSwitchDefault>
          <mat-form-field>
            <mat-label><span class='required'>*</span> State</mat-label>
            <mat-select formControlName='targetBranch' (selectionChange)='targetBranchChanged()' class='target-branch-input'>
              <mat-option *ngFor='let fulfillmentPartnerBranch of fulfillmentPartnerBranches' [value]='fulfillmentPartnerBranch'>
                {{ fulfillmentPartnerBranch.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span class='required'>*</span> Provider Firm</mat-label>
            <mat-select formControlName='target' class='target-input'>
              <mat-option *ngFor='let fulfillmentPartner of fulfillmentPartners' [value]='fulfillmentPartner'>
                {{ fulfillmentPartner.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Intake Number</mat-label>
            <mat-select
              formControlName='serviceRequest'
              class='service-request-input'
              msInfiniteScroll
              (infiniteScroll)='onScroll()'
              [complete]='stopInfiniteScroll'
            >
              <mat-option *ngFor='let serviceRequest of serviceRequests' [value]='serviceRequest'>
                {{ serviceRequest.case_id }}
              </mat-option>
              <mat-option *ngIf='!stopInfiniteScroll' [disabled]='true'>
                <mat-spinner class='loader' diameter='30' strokeWidth='3' color='primary'></mat-spinner>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf='resolutionType === "provider"'>
            <mat-form-field>
              <mat-label>Provider Employee</mat-label>
              <mat-select formControlName='targetMember' class='target-member-input'>
                <mat-option *ngFor='let fulfillmentPartnerMember of targetMembers' [value]='fulfillmentPartnerMember'>
                  {{ fulfillmentPartnerMember.fullName() }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf='resolutionType === "referral"'>
            <mat-form-field>
              <input matInput formControlName='referral' class='referral-input'>
              <mat-placeholder>Referral Attorney</mat-placeholder>
            </mat-form-field>
          </div>
        </div>

        <div *ngSwitchCase='"conflict"'>
          <mat-form-field>
            <mat-label>Conflict Intake</mat-label>
            <mat-select
              formControlName='serviceRequest'
              class='service-request-input'
              msInfiniteScroll
              (infiniteScroll)='onScroll()'
              [complete]='stopInfiniteScroll'
            >
              <mat-option *ngFor='let serviceRequest of conflictServiceRequests' [value]='serviceRequest'>
                {{ serviceRequest.case_id }}
              </mat-option>
              <mat-option *ngIf='!stopInfiniteScroll' [disabled]='true'>
                <mat-spinner class='loader' diameter='30' strokeWidth='3' color='primary'></mat-spinner>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName='referral' class='referral-input'>
            <mat-placeholder><span>*</span>Referral Attorney</mat-placeholder>
          </mat-form-field>
        </div>
      </div>

      <label id='provider-action-label' class='flex'><span class='required'>*</span>Provider Action Taken</label>
      <mat-radio-group class='provider-action' aria-labelledby='provider-action-label' formControlName='providerAction'>
        <mat-radio-button value='waiting on provider'>Waiting on Provider</mat-radio-button>
        <mat-radio-button value='provider action taken'>Provider action taken</mat-radio-button>
      </mat-radio-group>

      <label id='contact-method-label' class='flex'><span class='required'>*</span>Preferred contact method</label>
      <mat-radio-group class='contact-methods' aria-labelledby='contact-method-label' formControlName='contactMethod' (change)='showOtherContactMethodField($event)'>
        <mat-radio-button *ngFor='let contactMethod of contactMethods' [value]='contactMethod'>
          {{ contactMethod.value }}
        </mat-radio-button>
        <mat-radio-button value='email' *ngIf='email'>{{ email }}</mat-radio-button>
        <mat-radio-button value='other'>Other</mat-radio-button>
      </mat-radio-group>

      <div *ngIf='showOtherContactMethodInput'>
        <mat-form-field>
          <input matInput formControlName='contactMethodOther' class='other-contact-method-input'>
          <mat-placeholder><span>*</span>Other Contact Method</mat-placeholder>
        </mat-form-field>
      </div>

      <mat-checkbox formControlName='approved' class='approval-input'>Approved to move forward with resolution</mat-checkbox>

      <div class='flex action-container'>
        <button class='btn-secondary btn-reg cancel-button' (click)='close()'>Cancel</button>
        <button class='btn-action btn-reg submit-button' [disabled]='editForm.invalid' (click)='submit()'>Save Changes</button>
      </div>
    </form>
  </div>
</div>
