@import '@pplsi-core/shared-assets/src/sass/colors.scss';

.edit-container {
  width: 380px;

  .header {
    justify-content: space-between;
    padding: 20px;

    h3 {
      letter-spacing: unset;
      text-transform: none;
    }

    i-feather {
      height: 20px;
      width: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  hr {
    border-top: 1px solid $hermes-200;
  }

  .contents {
    padding: 20px;

    mat-form-field {
      width: 100%;
    }

    mat-radio-button {
      margin: 10px 0;
    }

    .action-container {
      justify-content: flex-end;
      margin-top: 97px;

      button {
        padding: 12px 20px;
      }

      .cancel-button {
        margin-right: 20px;
      }
    }
  }

  #contact-method-label {
    margin-top: 20px;
  }

  .source-input, .resolution-type-input, .provider-action, .contact-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    mat-radio-button {
      margin-right: 30px;
    }
  }
}