<div class='section-container shadow'>
  <div class='row section-header no-gutter'>
    <h3 class='col-dk-12'>Active Plans</h3>
  </div>

  <div class='row section-contents'>
    <div class='col-dk-12 flex product-container' *ngFor='let product of activeProducts'>
      <img src='assets/{{ product.getProductType() || "individual" }}_plan_icon.svg' alt='Plan Icon'>
      <p class='product'>{{ product.name }}</p>
    </div>
  </div>
</div>
