@import '@pplsi-core/shared-assets/src/sass/colors.scss';

h3 {
  color: $hades-100;
  letter-spacing: unset;
  margin: auto 0;
  padding: 0;
  text-transform: unset;
}

.section-container {
  background: $selene;
  border-radius: 5px;
}

.section-header {
  box-shadow: inset 0 -1px 0 0 #E8E8E8;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.section-contents {
  padding: 0 20px;
}

.flex {
  padding: 0;
}

.product {
  color: $zeus-100;
  font: 16px/19px Roboto;
}

img {
  margin-right: 5px;
  width: 24px;
}

.product-container {
  margin-bottom: 20px;
}
