<div class='container'>
  <div class='row'>
    <div class='col-dk-6 col-dk-offset-3 shadow'>
      <form [formGroup]='loginForm' (ngSubmit)='login()'>
        <div class='row'>
          <div class='col-dk-offset-1'>
            <h1>Employee Login</h1>
          </div>
        </div>

        <div class='row'>
          <div class='col-dk-10 col-dk-offset-1'>
            <mat-form-field>
              <input
                formControlName='username'
                [errorStateMatcher]='errorStateMatcher'
                class='email'
                matInput>
              <mat-placeholder>
                <span>*</span>Email
              </mat-placeholder>
              <mat-error class='invalid-login-username error small-text' *ngIf='loginForm.hasError("unauthorized")'>
                The email/password you entered is not correct.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class='row'>
          <div class='col-dk-10 col-dk-offset-1'>
            <mat-form-field>
              <input
                formControlName='password'
                class='password'
                [errorStateMatcher]='errorStateMatcher'
                matInput
                type='{{ showPassword ? "text" : "password" }}'>
              <mat-placeholder>
                <span>*</span>Password
              </mat-placeholder>
              <button type='button' mat-button mat-icon-button matSuffix (click)='togglePassword()'>
                <mat-icon
                  class='password-action'
                  svgIcon='{{ showPassword ? "show_password" : "do_not_show_password"}}'>
                </mat-icon>
              </button>
              <mat-error class='invalid-login-password error small-text' *ngIf='loginForm.hasError("unauthorized")'>
                The email/password you entered is not correct.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class='row'>
          <div class='col-dk-10 col-dk-offset-1 small-text'>
            <button
              class='button btn-big'
              type='submit'
              [disabled]='loginForm.invalid'>
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
