@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import '@pplsi-core/shared-assets/src/sass/layout.scss';
@import '@pplsi-core/shared-assets/src/sass/typography.scss';

:host {
  align-items: center;
  display: flex;
  height: calc(100vh - 60px);
}

.col-dk-6 {
  background-color: $selene;
  padding: 60px 0;
}

h1 {
  margin-bottom: 30px;
}

div .button {
  height: 60px;
  margin-top: 30px;
  padding: 22px 40px;
  width: 100%;
}

/* stylelint-disable declaration-no-important  */
.password-action {
  font-size: 24px !important;
}
/* stylelint-enable  */

mat-form-field {
  &.mat-form-field {
    margin: 10px 0;
    width: 100%;
  }

  mat-placeholder {
    color: $hermes-300;
    font-size: 16px;
    line-height: 20px;

    span {
      color: $aphrodite-100;
      margin-right: 2px;
    }
  }
}

.mat-form-field-should-float {
  &.mat-focused {
    mat-placeholder {
      color: $poseidon;
    }
  }

  &.mat-form-field-invalid {
    mat-placeholder {
      color: $aphrodite-100;

      span {
        color: $aphrodite-100;
      }
    }
  }

  mat-placeholder {
    color: $hades-100;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

mat-icon {
  background: $selene;
}
