<a class='resolution-result' [routerLink]='["/resolutions", resolution.id || ""]'>
  <div class='result-details'>
    <div class='result-plan-details'>
      <div [ngClass]='{
          "resolution-is-member": !!resolution.group && !!resolution.national_plan === false,
          "result-national-plan": !!resolution.national_plan,
          "right": true
        }'>
      </div>
      <div class='result-user'>
        <div class='result-name'>{{ fullUserName }}</div>
        <div class='result-city'>{{ userCityState }}</div>
      </div>
      <div class='result-action' *ngIf='actionTaken' [ngClass]='actionTakenClass'>
        <i-feather name='check-circle'></i-feather>
        <div>{{ actionTaken }}</div>
      </div>
    </div>
    <div class='result-info'>
      <div class='result-display-id'>{{ displayId }}</div>
      <div class='result-created-at' *ngIf='openedAt' title='{{createdLabel}}'>{{ createdLabel }}</div>
    </div>
  </div>
  <div class='result-stats'>
    <div class='result-assignee'>
      <i-feather name='user-plus'></i-feather>
      <div>{{ assignee }}</div>
    </div>
    <div class='result-status'>
      <i-feather name='activity'></i-feather>
      <div>{{ status }}</div>
    </div>
    <div class='result-type'>
      <i-feather name='layers'></i-feather>
      <div>{{ resolutionType }}</div>
    </div>
  </div>
</a>
