@import '@pplsi-core/shared-assets/src/sass/colors.scss';

:host ::ng-deep {
  color: $hades-100;

  .resolution-result {
    align-items: stretch;
    background: $selene;
    border: 1px solid $hermes-300;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 10px 0;
    padding: 15px 20px;
    text-decoration: none;
  }

  .result-details {
    width: calc(100% - 175px);
  }

  .result-plan-details {
    display: flex;
    flex-wrap: wrap;

    .result-national-plan {
      background-image: url(/assets/shield.svg);
      background-repeat: no-repeat;
      background-size: 16px 16px;
      margin-right: 9px;
      width: 16px;
    }

    .resolution-is-member {
      background-image: url(/assets/group_identifier.svg);
      background-repeat: no-repeat;
      background-size: 16px 16px;
      margin-right: 9px;
      width: 16px;      
    }    

    .result-user {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
      margin-right: 10px;

      .result-name {
        font-style: normal;
        font-weight: normal;
      }
    }

    .result-city {
      color: $cerberus;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
    }
  }

  .result-action {
    border-radius: 2px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    margin-bottom: 10px;
    padding: 2px 5px;

    > div {
      text-transform: capitalize;
      white-space: nowrap;
    }

    i-feather {
      height: 12px;
      margin: 2px 5px 0 0;
      width: 12px;
    }

    &.ok {
      background-color: $athena-10;
      border: 1px solid $persephone;

      > div {
        color: $persephone;
      }

      i-feather {
        stroke: $persephone;
      }
    }

    &.warn {
      background-color: $artemis-10;
      border: 1px solid $apollo;

      > div {
        color: $apollo;
      }

      i-feather {
        stroke: $apollo;
      }
    }
  }

  .result-info {
    display: flex;
    flex-wrap: nowrap;

    .result-display-id {
      background-color: $hermes-100;
      border: 1px solid $cerberus;
      border-radius: 2px;
      color: $hades-100;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      height: 16px;
      line-height: 16px;
      margin-right: 10px;
      min-width: 46px;
      padding: 2px 4px;
    }

    .result-created-at {
      color: $cerberus;
      font-size: 12px;
      height: 22px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .result-stats {
    > div {
      background-position-y: -1px;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      display: flex;
      flex-wrap: nowrap;
      font-size: 13px;
      height: 16px;
      line-height: 16px;
      margin: 0 0 10px 0;
      padding: 0 5px 0 25px;
      text-transform: capitalize;
      white-space: nowrap;

      i-feather {
        height: 14px;
        margin: 1px 11px 0 0;
        width: 14px;
      }

      &:nth-child(3) {
        margin: unset;
      }
    }
  }
}
