<div class='container'>
  <header class='row'>
    <div class='col-dk-6'>
      <h2>Roles and Permissions</h2>
    </div>
    <div class='col-dk-3 col-dk-offset-3' *ngIf='tabData[activeTabIndex]?.addButtonClick'>
      <button mat-button class='secondary float-right' (click)='tabData[activeTabIndex]?.addButtonClick()'>{{tabData[activeTabIndex].addButtonText || DEFAULT_ADD_TEXT}}</button>
    </div>
  </header>
  <nav mat-tab-nav-bar [disableRipple]='true'>
    <div *ngFor='let data of tabData; let i = index'>
      <a mat-tab-link [routerLink]='[data.link]' routerLinkActive #rla='routerLinkActive' [active]='rla.isActive' (click)='activeTabIndex = i'>
        {{data.label}}
      </a>
    </div>
  </nav>
  <hr>
  <router-outlet></router-outlet>
</div>
