@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import '@pplsi-core/shared-assets/src/sass/device-sizes.scss';

nav.a {
  color: $hades-100;
  font-size: 16px;
}

.header {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
}

header {
  margin-bottom: 20px;
  padding-top: 20px;

  h2 {
    font-weight: 500;
  }
}

hr {
  border: 0;
  border-top: 1px solid #D7D7D7;
  display: block;
  height: 1px;
  padding: 0 0 20px;
}

a.mat-tab-link {
  font-size: 16px;
}
