@import '@pplsi-core/shared-assets/src/sass/colors.scss';

div.col-dk-12 {
  border-bottom: 1px solid $hermes-300;
  margin-bottom: 5px;
  min-height: 20px;
  padding-bottom: 5px;
  position: relative;
}

.grouped-permission-title, .grouped-permission-heading span {
  color: $cerberus;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
}

.grouped-permission-heading {
  justify-content: center;
  margin-left: 20px;
  width: 50px;

  &:first-of-type {
    margin-left: auto;
  }
}

.grouped-permission-title {
  left: 0;
  position: absolute;
}
