<div>
  <div class='row'>
    <div class='col-dk-12 flex'>
      <div *ngFor='let heading of headings' class='grouped-permission-heading flex'>
        <span>{{ heading }}</span>
      </div>

      <div class='grouped-permission-title' *ngIf='title'>{{ title }}</div>
    </div>
  </div>
</div>
