<div class='dialog-header'>
  <h2>Merge users</h2>
  <p>Completing this action will merge user information.</p>

  <p class='warning' *ngIf='stepper.selectedIndex >= 2'>
    By selecting <span>&lsquo;Merge user&rsquo;</span> you are confirming the merging of user information data with no reversal.
  </p>
</div>

<div class='dialog-body'>
  <mat-horizontal-stepper linear #stepper>
    <ng-template matStepperIcon='edit'>
      <i-feather name='check'></i-feather>
    </ng-template>

    <mat-step label='Selected users'>
      <div class='step-selected-users'>
        <ng-container *ngFor='let user of users'>
          <ls-merge-dialog-user-profile [user]='user'></ls-merge-dialog-user-profile>
        </ng-container>
      </div>
    </mat-step>

    <mat-step label='User information'>
      <div class='step-selected-users'>
        <ls-merge-dialog-user-info [users]='users'></ls-merge-dialog-user-info>
      </div>
    </mat-step>

    <mat-step label='Review'>
      <div class='step-merged-user'>
        <ls-merge-dialog-user-profile [user]='mergeUser'></ls-merge-dialog-user-profile>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div class='dialog-footer'>
  <div class='merge-user-cancel'>
    <button mat-button mat-dialog-close color='primary'>Cancel</button>
  </div>

  <div class='merge-user-action'>
    <div class='merge-user-acknowledge' *ngIf='stepper.selectedIndex >= 2'>
      <mat-checkbox [(ngModel)]='mergeAcknowledged'>I acknowledge the merge.</mat-checkbox>
    </div>
    <a mat-button color='primary' id='merge-action-previous' *ngIf='stepper.selectedIndex > 0' (click)='previousStepClick()'>
      <i-feather name='arrow-left'></i-feather>&nbsp;Previous Step
    </a>
    <a mat-flat-button color='primary' id='merge-action-next' *ngIf='stepper.selectedIndex < 2' (click)='nextStepClick()'>Next Step</a>
    <a mat-flat-button color='primary' id='merge-action-final' *ngIf='stepper.selectedIndex >= 2' [disabled]='!mergeAcknowledged'>Merge Users</a>
  </div>
</div>
