@import '@pplsi-core/shared-assets/src/sass/colors.scss';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 760px;
}

.dialog-header {
  p {
    color: $cerberus;

    &.warning {
      background-color: $aphrodite-10;
      border: 1px solid $aphrodite-100;
      border-radius: 4px;
      color: $aphrodite-100;
      margin: 20px 0 0 0;
      padding: 20px;

      span {
        color: $aphrodite-100;
        font-weight: bold;
      }
    }
  }
}

.dialog-body {
  background: $hermes-100;
  flex: 1;
  margin: 20px -20px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 20px;
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
}

.merge-user-action {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  a {
    margin-left: 20px;

    i-feather {
      height: 14px;
      line-height: 14px;
      margin-top: -2px;
      stroke: $zeus-100;
      width: 14px;
    }
  }
}

.merge-user-acknowledge {
  flex: 1;
  margin-left: 20px;
}


.step-selected-users, .step-merged-user {
  display: flex;
  flex-wrap: nowrap;

  ls-merge-dialog-user-profile:nth-child(2) {
    margin-left: 20px;
  }
}

.step-merged-user ls-merge-dialog-user-profile {
  margin: 0 auto;
}
