@import '@pplsi-core/shared-assets/src/sass/colors.scss';

:host {
  display: flex;
  flex-direction: column-reverse;

  form {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    > div {
      width: 100%;
    }

    &:focus-within, &:active {
      textarea {
        height: 59px;
      }
    }
  }

  .log-messages {
    display: flex;
    flex: 1;
    flex-flow: column;

    ::ng-deep ls-activity-log-item:last-child .item-icon-bar {
      border-right: 1px solid transparent;
    }
  }
}

.log-controls {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  button {
    margin-left: 20px;
  }
}

.log-input {
  display: flex;

  textarea {
    border: 2px solid $cerberus;
    border-radius: 4px;
    flex: 1;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding: 20px;
    resize: none;
  }
}
