<div class='log-controls'>
  <form [formGroup]='activityLogForm' (ngSubmit)='formSubmit()'>
    <div class='log-input'>
      <textarea type='text' formControlName='note' placeholder='{{ placeholder }}'></textarea>
    </div>
    <div class='log-controls'>
      <mat-checkbox formControlName='alert' labelPosition='after'>Flag as alert</mat-checkbox>
      <button mat-stroked-button color='primary' type='reset'>Cancel</button>
      <button mat-flat-button color='primary' type='submit'>Add Note</button>
    </div>
  </form>
</div>
<div class='log-messages'>
  <ng-container *ngFor='let activity of activityLog$ | async'>
    <ls-activity-log-item [activity]='activity' [resolutionDisplayId]='resolutionDisplayId'
      (activityAlertToggle)='activityAlertToggle.emit($event)'>
    </ls-activity-log-item>
  </ng-container>
</div>
