<div class='container'>
  <div class='col-dk-offset-1 col-dk-10 card flex'>
    <img src='assets/unauthorized.svg' alt='unauthorized'>
    <div>
      <h2>Oh no! You don't have permissions into the LegalShield Admin application!</h2>
      <p>Speak to your supervisor if you need access into LegalShield Admin.</p>
      <button class='btn-action btn-big' (click)='login()'>Refresh</button>
    </div>
  </div>
</div>
