@import '@pplsi-core/shared-assets/src/sass/colors.scss';

.mat-tab-header {
  border-bottom: none;
}

mat-paginator.mat-paginator {
  background: unset;
}

mat-tab-group, .mat-tab-header {
  .mat-tab-labels {
    .mat-tab-label {
      height: 20px;
      margin-bottom: 12px;
      margin-right: 40px;
      min-width: unset;
      opacity: unset;
      padding: 0;
      width: fit-content;

      .mat-tab-label-content {
        color: $hades-100;
        font: bold 16px Roboto;
      }
    }
  }

  .mat-tab-body-wrapper {
    margin-top: 20px;
    overflow: visible;

    .mat-tab-body {
      overflow: visible;

      .mat-tab-body-content {
        overflow: visible;
      }
    }
  }

  &.mat-tab-nav-bar {
    mat-ink-bar.mat-ink-bar {
      background-color: $zeus-100;
    }
  }


  a[mat-tab-link] {
    font-family: Roboto, Oxygen Sans, "Helvetica Neue", sans-serif;
    font-size: 16px;
    height: 52px;
    line-height: 52px;
    margin-right: 40px;
    margin-top: 8px;
    min-width: 0;
    padding: 0;
  }

  a[mat-tab-link],
  a[mat-tab-link]:visited,
  a[mat-tab-link]:hover {
    color: $hades-100;
    opacity: 1;
    text-decoration: none;

    &.mat-tab-label-active {
      color: $zeus-100;
    }
  }
}


// MatMenu
div .mat-menu-panel {
  border-radius: unset;
  margin-top: 10px;
  min-height: 0;

  .mat-menu-content:not(:empty) {
    padding-bottom: unset;
    padding-top: unset;

    .mat-ripple-element {
      background-color: $zeus-100 !important; /* stylelint-disable-line declaration-no-important */
    }
  }

  .mat-menu-item {
    color: $zeus-100;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;

      &:not([disabled]) {
        background: unset;
      }
    }
  }
}

.profile-menu .mat-menu-content:not(:empty) {
  padding-bottom: 0px;
  padding-top: 0px;
}

.mat-drawer-container {
  background-color: inherit;
  overflow: hidden;

  .mat-drawer-content {
    overflow: hidden;
  }
}

.required {
  color: $aphrodite-100;
  margin-right: 2px;
}

mat-form-field {
  mat-placeholder, mat-label {
    color: $hermes-300;
    font-size: 16px;
    line-height: 20px;

    span {
      color: $aphrodite-100;
      margin-right: 2px;
    }
  }

  &.underemphasize .mat-form-field-underline {
    display: none;
  }
}

.mat-label-scale-0.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -ms-transform: translateY(-1.28125em);
  -webkit-transform: translateY(-1.28125em) perspective(100px) translateZ(.001px);
  transform: translateY(-1.28125em) perspective(100px) translateZ(.001px);
}

.mat-form-field-should-float {
  &.mat-focused {
    mat-placeholder, mat-label {
      color: $poseidon;
    }
  }

  &.mat-form-field-invalid {
    mat-placeholder, mat-label {
      color: $aphrodite-100;

      span {
        color: $aphrodite-100;
      }
    }
  }

  mat-placeholder, mat-label {
    color: $hades-100;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.mat-radio-label-content {
  margin-left: 10px;
  padding-left: 0px !important; /* stylelint-disable-line declaration-no-important */
}

.mat-ripple-element {
  background-color: $zeus-100 !important; /* stylelint-disable-line declaration-no-important */
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $zeus-100 !important; /* stylelint-disable-line declaration-no-important */
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $zeus-100 !important; /* stylelint-disable-line declaration-no-important */
}

[mat-button] {
  &.secondary {
    background: $selene;
    border: 2px solid $zeus-100;
    border-radius: 6px;
    color: $zeus-100;
    height: 36px;
    width: 109px;

    i-feather {
      font-size: 12px;
      margin: 0 -5px 0 0;
      padding: 0px 15px 10px 0px;
      position: relative;
      stroke: $zeus-100;
      top: 2px;
    }

    &.icon-button {
      padding-right: 15px;
      width: 120px;
    }

    .mat-button-wrapper {
      color: $zeus-100;
    }
  }
}

.mat-button-base {
  .mat-button-wrapper {
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

.mat-button, .mat-flat-button, .mat-stroked-button {
  &:hover {
    text-decoration: none;
  }

  .mat-ripple {
    display: none;
  }
}

.mat-button, .mat-stroked-button {
  &.mat-primary {
    .mat-button-wrapper {
      color: $zeus-100;
    }
  }
}

.mat-flat-button {
  &.mat-primary {
    background-color: $zeus-100;

    .mat-button-wrapper {
      color: $selene;
    }
  }
}

.mat-stroked-button {

  &.mat-button-base {
    border-width: 2px;
  }

  &.mat-primary {
    border-color: $zeus-100;

    &:hover {
      background-color: $zeus-100;

      .mat-button-wrapper {
        color: $selene;
      }
    }
  }
}

mat-checkbox {
  label {
    margin: 6px 0;
  }

  .mat-ripple-element {
    background-color: $zeus-100 !important; /* stylelint-disable-line declaration-no-important */
  }

  &.mat-checkbox-ripple-none .mat-checkbox-ripple {
    display: none;
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $zeus-100;
}

mat-expansion-panel-header {
  min-height: 4.5rem;

  mat-panel-title {
    display: block;
  }

  .mat-expansion-panel-header-content {
    left: 3px;
    position: relative;

    p.role-expansion-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }

    p.role-expansion-description {
      font-size: 12px;
      font-weight: normal;
      line-height: 16px;
      margin-bottom: 6px;
    }
  }
}

.mat-accordion mat-expansion-panel.expansion-container.border-radius-none {
  border-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

mat-toolbar.mat-toolbar-footer {
  background-color: $selene;

  .content-container {
    flex: 1 1 auto;
  }

  .actions-container {
    padding-right: 3rem;
  }
}

mat-dialog-container {
  &.mat-dialog-container {
    display: flex;
    padding: 20px;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 5px;
  }
}


.mat-dialog-actions.actions-container {
  float: right;

  button, [mat-button] .mat-button-wrapper {
    background: none;
    color: $zeus-100;
    margin-left: 10px;
    padding: 0;

    &:hover .mat-button-focus-overlay {
      background: none;
    }
  }
}

.mat-stepper-horizontal {
  background-color: unset;

  .mat-step-icon {
    background: $hermes-300;
    border: 2px solid $hermes-300;
    height: 36px;
    line-height: 36px;
    width: 36px;

    .mat-step-icon-content i-feather {
      height: 16px;
      margin-top: 5px;
      user-select: none;
      width: 16px;
    }

    &.mat-step-icon-selected {
      background: $zeus-100;
      border-color: $zeus-100;

      .mat-step-icon-content span, .mat-icon {
        color: $selene;
      }
    }

    &.mat-step-icon-state-edit {
      background-color: $athena-10;
      border-color: $athena-100;

      .mat-icon, i-feather {
        color: $athena-100;
        stroke: $athena-100;
      }
    }

    .mat-step-icon-content span,  .mat-icon {
      color: $nyx;
    }
  }

  .mat-step-label {
    .mat-step-text-label {
      font-size: 16px;
    }

    &.mat-step-label-active .mat-step-text-label {
      color: $nyx;
    }

    &.mat-step-label-selected .mat-step-text-label {
      color: $hades-100;
    }
  }

  .mat-horizontal-stepper-header {
    height: 40px;
    padding: unset;

    .mat-step-icon {
      margin-right: 20px;
    }
  }

  .mat-horizontal-stepper-header-container {
    padding: 0 0 40px 0;
  }

  .mat-horizontal-content-container {
    overflow-y: auto;
    padding: unset;
  }

  .mat-stepper-horizontal-line {
    flex: unset;
    margin: 0 20px;
    width: 40px;
  }

  .mat-step-header-ripple {
    display: none;
  }

  .mat-step-header:hover {
    background: unset;
  }
}
