@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import './material.scss';

html, body {
  background: $hermes-100;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

ls-search-layout.input-slim {
  .search-layout-results{
    .secondary {
      left: 270px;
      position: relative;
      top: -60px;
    }

    table {
      margin-top: -40px
    }
  }

  .search-layout-input {
    min-width: 250px;
  }
}

.search-layout-footer-pager {
  margin-top: 15px;

  .mat-paginator-navigation-previous,
  .mat-paginator-navigation-next {
    background: none !important; /* stylelint-disable-line declaration-no-important */
  }
}

.float-right {
  float: right;
}

.margin-x30 {
  margin: 0 30px;
}

mat-spinner.loader {
  margin: auto;
}