@import '@pplsi-core/shared-assets/src/sass/colors.scss';

div {
  background: $artemis-10;
  height: 40px;

  img {
    height: 14px;
    margin: auto 0;
    width: 16px;
  }

  h4 {
    color: $apollo;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 10px;
  }
}