@import '@pplsi-core/shared-assets/src/sass/colors.scss';

h3 {
  color: $hades-100;
  letter-spacing: unset;
  margin: 10px auto;
  padding: unset;
  text-transform: unset;
}

.card.shadow {
  padding: 20px;

  h4 {
    color: $cerberus;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 0 0 8px 0;
    text-transform: uppercase;
  }

  p {
    line-height: 20px;
  }

  .flex {
    padding: 0 0 20px 0;

    &:nth-child(3) {
      padding: unset;
    }

    > div {
      flex: 1;
      min-width: calc(33% - 20px);
      padding: 0 20px 0 0;
    }

    > div:nth-child(3) {
      justify-content: flex-end;
      padding: unset;
    }
  }
}

.user-products {
  margin-top: 40px;
}
