<div class='row'>
  <div class='col-dk-9'>
    <h2 *ngIf='isPartner'>{{ user.fullName() }}</h2>
    <h3>Personal Information</h3>
    <div class='card shadow'>
      <div class='flex'>
        <div class='national-id' [ngSwitch]='locale'>
          <h4 *ngSwitchCase='"en-CA"'>Social Insurance Number</h4>
          <h4 *ngSwitchCase='"en-GB"'>National Insurance Number</h4>
          <h4 *ngSwitchDefault>Social Security Number</h4>
          <p *ngIf='user.nationalId(locale); else noDataTemplate'>{{ user.nationalId(locale) }}</p>
        </div>

        <div class='date-of-birth'>
          <h4>Date of Birth</h4>
          <p *ngIf='user.date_of_birth; else noDataTemplate'>{{ user.date_of_birth | date: dateFormat }}</p>
        </div>

        <div class='flex actions'>
          <a href='/impersonate?user_id={{user.id}}&account_id={{account.id}}' class='impersonate' target='_blank'
            rel='noopener'>
            <button class='btn-secondary btn-mini'>Accounts</button>
          </a>
        </div>
      </div>

      <div class='flex'>
        <div class='primary-phone'>
          <h4>Primary Phone</h4>
          <p *ngIf='userPrimaryPhone; else noDataTemplate'>{{ userPrimaryPhone }}</p>
        </div>

        <div class='secondary-phone'>
          <h4>Secondary Phone</h4>
          <p *ngIf='userSecondaryPhone; else noDataTemplate'>{{ userSecondaryPhone }}</p>
        </div>

        <div>&nbsp;</div>
      </div>

      <div class='flex'>
        <div class='cell-phone'>
          <h4>Cell Phone</h4>
          <p *ngIf='userCellPhone; else noDataTemplate'>{{ userCellPhone }}</p>
        </div>

        <div class='home-phone'>
          <h4>Home Phone</h4>
          <p *ngIf='userHomePhone; else noDataTemplate'>{{ userHomePhone }}</p>
        </div>

        <div class='work-phone'>
          <h4>Work Phone</h4>
          <p *ngIf='userWorkPhone; else noDataTemplate'>{{ userWorkPhone }}</p>
        </div>
      </div>

      <div class='flex'>
        <div class='address'>
          <h4>Address</h4>
          <ng-container *ngIf='user.firstAddress(); else noDataTemplate'>
            <p *ngIf='user.firstAddress().address_1'>{{ user.firstAddress().address_1 }}</p>
            <p *ngIf='user.firstAddress().address_2'>{{ user.firstAddress().address_2 }}</p>
            <p>
              <span *ngIf='user.firstAddress().locality'>{{ user.firstAddress().locality }}</span>
              <span *ngIf='user.firstAddress().administrative_area'>,{{ user.firstAddress().administrative_area }}</span>
              <span *ngIf='user.firstAddress().postal_code'>&nbsp;{{ user.firstAddress().postal_code }}</span>
            </p>
            <p *ngIf='user.firstAddress().country'>{{ user.firstAddress().country }}</p>
          </ng-container>
        </div>

        <div class='email'>
          <h4>Email</h4>
          <p *ngIf='user.email; else noDataTemplate'>
            <a href='mailto:{{ user.email }}'>{{ user.email }}</a>
          </p>
        </div>

        <div class='empty'></div>
      </div>
    </div>
  </div>
  <div class='col-dk-3 user-products'>
    <ls-user-memberships *ngIf='!isPartner' [account]='account' [user]='user' [memberships]='primaryMemberships' [pathUserId]='pathUserId'></ls-user-memberships>
    <user-active-plans [account]='account'></user-active-plans>
  </div>
</div>

<ng-template #noDataTemplate>
  <i-feather name='minus' class='small-icon'></i-feather>
  <i-feather name='minus' class='small-icon'></i-feather>&nbsp;
</ng-template>
