@import '@pplsi-core/shared-assets/src/sass/colors.scss';

.container {
  padding: 20px;
  width: 400px;
}

mat-form-field, 
textarea {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 20px;
    text-transform: capitalize;
  }

  i-feather {    
    height: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
  }
}

.description {
  border: 2px solid $hermes-300;
  border-radius: 7px;
  margin: 0;
  min-height: 96px;  
  padding: 0 5px;

  textarea {
    height: 100%;
  }
}

.length-indicator-text {
  bottom: -25px;
  color: $cerberus;
  float: right;
  position: relative;
  right: -15px;
}

footer {  
  background: $selene;
  bottom: 0;
  margin: 20px;
  position: fixed;
  right: 0;
  width: 350px;  
  
  .btn-secondary { 
    margin-right: 20px; 
  }

  .btn-reg {
    float:right;
    height: 52px;    
  }  
}

[name=x] {
  cursor: pointer;
}