<div class='container'>
  <header>
    <h3>Add Role</h3>
    <i-feather name='x' (click)='cancel()'></i-feather>
  </header>

  <form [formGroup]='roleForm'>
    <div class='row'>
      <mat-form-field class='col-dk-12 left-side mat-label-scale-0'>
        <input matInput formControlName='name' class='name'>
        <mat-label> <span>*</span>Role Name </mat-label>
        <div class='invalid-role-name error small-text' *ngIf='submitFoundMatch'>
          A role with this name already exists. Please create a unique name for this role.
        </div>
      </mat-form-field>
    </div>

    <div class='row description'>
      <mat-form-field floatLabel='never' class='col-dk-12 left-side underemphasize'>
        <textarea matInput formControlName='description' #descriptionTextarea [maxLength]='DESC_MAXLENGTH'></textarea>
        <mat-label>
          <span>*</span>Role Description
        </mat-label>
      </mat-form-field>
      <p class='col-dk-12'>
        <span class='length-indicator-text'>{{ descriptionTextarea?.value?.length }}/{{ DESC_MAXLENGTH }}</span>
      </p>
    </div>
  </form>

  <footer class='row right action-container'>
    <button class='btn-secondary btn-reg cancel-button' (click)='cancel()'>Cancel</button>
    <button class='btn-action btn-reg submit-button' [disabled]='!roleForm.valid' (click)='submit()'>Create Role</button>
  </footer>
</div>
