@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import '@pplsi-core/shared-assets/src/sass/device-sizes.scss';
@mixin ls-box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

table {
  width: 100%;
}

::ng-deep .container .mat-chip-list-wrapper {
  height: 75px;
}

h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 20px;
  text-transform: capitalize;
}

th.mat-header-cell {
  color: $hades-100;
}

.cdk-column-name.mat-column-name {
  a, a:visited {
    color: $hades-100;
  }
}

.ls-search-layout-pager-only {
  position: relative;
  top: 10px;
}

.mat-basic-chip {
  background-color: #F5F5F5;
  border: 1px solid;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px;
}

.mat-chip-list:focus, .mat-menu-trigger:focus {
  border: 0;
  outline: none;
}

.mat-menu-item:hover:not([disabled]) {
  background-color: transparent;
}

.role-select {

  margin-right: 20px;

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field-flex {
    background-color: white;
    border-radius: 2px;
    height: 40px;
    position: relative;

    @include ls-box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.3));
  }

  ::ng-deep .mat-select-arrow-wrapper {
    position: relative;
    right: 10px;
  }

  ::ng-deep .mat-select-trigger {
    height: 40px;
  }
}

.trigger-text {
  color: $nyx;
  display: flex;
  justify-content: center;
  line-height: 2.125;
  margin-top: 3px;
}

.mat-menu-trigger {
  background-color: transparent;
}

.text-blue {
  color: $zeus-100;
  text-transform: capitalize;
}

::ng-deep .container .mat-form-field-appearance-legacy .mat-form-field-infix {
  height: 100%;
  padding: 0;
}

::ng-deep .container .mat-form-field-infix {
  border-top: 0;
}

.text-role {
  color: $nyx;
  left: 20px;
  position: relative;
  top: 3px;
}

.cell-right {
  text-align: right;

  button {
    float: right;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: inherit;
}
