<div>
  <ls-search-layout (searchSubmit)='search($event)' placeholder='Search users...' class='input-slim'
    [submitResultTemplate]='userResultTemplate' [submitResultPagerTemplate]='userResultPagerTemplate'
    [submitResultFooterPagerTemplate]='userResultPagerTemplate'>
  </ls-search-layout>

  <ng-template #userResultTemplate>
    <div class='flex'>
      <form [formGroup]='userFilterForm'>
        <mat-form-field class='secondary icon-button role-select' floatLabel='never'>
          <mat-label class='text-role'>Role</mat-label>
          <mat-select formControlName='user_roles' multiple (selectionChange)='selectChange($event)'
            [disableRipple]='true'>
            <mat-select-trigger>
              <span class='trigger-text' *ngIf='roleIds.length'>
                {{roleIds.length}} Role(s) selected
              </span>
            </mat-select-trigger>
            <mat-option *ngFor='let role of roles' [value]='role.id'>
              {{role.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <table class='roles-table mat-elevation-z8' mat-table [dataSource]='fulfillment_partner_members'>
      <ng-container matColumnDef='first_name'>
        <th mat-header-cell *matHeaderCellDef>
          <h3>Name</h3>
        </th>
        <td mat-cell *matCellDef='let element'>
          {{element.first_name}} {{element.last_name}}
        </td>
      </ng-container>

      <ng-container matColumnDef='fpm_roles'>
        <th mat-header-cell *matHeaderCellDef>
          <h3>Roles</h3>
        </th>
        <td mat-cell *matCellDef='let element'>
          <mat-chip-list [selectable]='false'>
            <span *ngFor='let fpm_role of element.fpm_roles'>
              <mat-basic-chip [disabled]='true'>{{fpm_role.name}}</mat-basic-chip>
            </span>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef='email'>
        <th mat-header-cell *matHeaderCellDef>
          <h3>Email Address</h3>
        </th>
        <td mat-cell *matCellDef='let element'> {{ element.email }} </td>
      </ng-container>

      <ng-container matColumnDef='manage'>
        <th mat-header-cell *matHeaderCellDef class='cell-right'>
          <h3>Manage</h3>
        </th>
        <td mat-cell *matCellDef='let element' class='cell-right'>
          <button mat-icon-button [matMenuTriggerFor]='menu' aria-label='Menu' class='user-management-open'>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu='matMenu' direction='down' class='user-management-menu'>
            <button mat-menu-item class='user-management-edit' (click)='openUserEdit(element)' [disableRipple]='true'>
              <span class='text-blue'>Edit</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef='empty'>
        <td mat-footer-cell *matFooterCellDef colspan='4'>
          No records to display
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef='getColumns(isReadonly)'></tr>
      <tr mat-row *matRowDef='let row; columns: getColumns(isReadonly)'></tr>
      <tr mat-footer-row *matFooterRowDef='["empty"]' [hidden]='fulfillment_partner_members.length != 0'></tr>
    </table>
  </ng-template>

  <ng-template #userResultPagerTemplate>
    <mat-paginator (page)='pageEvent = $event; onPaginateChange($event)' [pageSizeOptions]='pageSizeOptions'
      [pageIndex]='pageEvent.pageIndex' [pageSize]='pageEvent.pageSize' [length]='pageEvent.length'>
    </mat-paginator>
  </ng-template>
</div>
