<div>
  <ls-search-layout (searchSubmit)='search($event)' placeholder='Search roles...' class='input-slim'
    [submitResultTemplate]='roleResultTemplate' [submitResultPagerTemplate]='roleResultPagerTemplate'
    [submitResultFooterPagerTemplate]='roleResultPagerTemplate'>
  </ls-search-layout>

  <ng-template #roleResultTemplate>
    <form [formGroup]='searchForm' (ngSubmit)='exportRoles()'>
      <button mat-button class='secondary icon-button export-roles-button' type='submit'>
        <i-feather name='download'></i-feather>Export
      </button>
    </form>

    <table mat-table [dataSource]='roles' class='mat-elevation-z8 roles'>
      <ng-container matColumnDef='name'>
        <th mat-header-cell *matHeaderCellDef>
          <h3>Role</h3>
        </th>
        <td mat-cell *matCellDef='let element'>
          {{element.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef='description'>
        <th mat-header-cell *matHeaderCellDef>
          <h3>Description</h3>
        </th>
        <td mat-cell *matCellDef='let element'> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef='created_at'>
        <th mat-header-cell *matHeaderCellDef>
          <h3>Creation Date</h3>
        </th>
        <td mat-cell *matCellDef='let element'> {{element.created_at | date:'longDate' }} </td>
      </ng-container>

      <ng-container matColumnDef='number_of_users'>
        <th mat-header-cell *matHeaderCellDef class='cell-right'>
          <h3>Active Users</h3>
        </th>
        <td mat-cell *matCellDef='let element' class='cell-right'> <span>{{element.number_of_users}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef='empty'>
        <td mat-footer-cell *matFooterCellDef colspan='4'>
          No records to display
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
      <tr mat-row *matRowDef='let row; columns: displayedColumns;' (click)='navigateRow(row)'></tr>
      <tr mat-footer-row *matFooterRowDef='["empty"]' [hidden]='roles.length != 0'></tr>
    </table>
  </ng-template>

  <ng-template #roleResultPagerTemplate>
    <mat-paginator (page)='pageEvent = $event; onPaginateChange($event)' [pageSizeOptions]='pageSizeOptions'
      [pageIndex]='pageEvent.pageIndex' [pageSize]='pageEvent.pageSize' [length]='pageEvent.length'>
    </mat-paginator>
  </ng-template>
</div>
