@import '@pplsi-core/shared-assets/src/sass/colors.scss';
@import '@pplsi-core/shared-assets/src/sass/device-sizes.scss';

table {
  width: 100%;

  &:only-child {
    margin: 0 !important;  /* stylelint-disable-line declaration-no-important */
  }
}

h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 20px;
  text-transform: capitalize;
}

th.mat-header-cell {
  color: $hades-100;
}

tr.mat-row {
  cursor: pointer;

  a, a:visited {
    color: $hades-100;
  }
}

.ls-search-layout-pager-only {
  position: relative;
  top: 10px;
}

.cell-right {
  text-align: right;
}
