<ls-search-layout [submitResultPagerTemplate]='submitResultPagerTemplate'
  placeholder='Search by resolution number' [submitResultTemplate]='submitResultTemplate'>
</ls-search-layout>

<ng-template #submitResultTemplate>
  <ng-container *ngFor='let result of resolutions$ | async'>
    <ls-resolution-search-result class='col-dk-12' [resolution]='result'></ls-resolution-search-result>
  </ng-container>
</ng-template>

<ng-template #submitResultPagerTemplate>
  <mat-paginator (page)='pageResults($event)' [pageSizeOptions]='pageSizeOptions'
    [pageIndex]='submitResultsPage.pageIndex' [pageSize]='submitResultsPage.pageSize'
    [length]='submitResultsPage.length' itemsPerPageLabel='Results per page'>
  </mat-paginator>
</ng-template>
